workflows/Обновлённые уведомления о заявках из vsDesk.json
{
  "createdAt": "2023-01-11T12:15:59.354Z",
  "updatedAt": "2023-06-08T10:02:07.000Z",
  "id": "5",
  "name": "Обновлённые уведомления о заявках из vsDesk",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "unit": "minutes"
      },
      "id": "4e423956-0ddd-4aa3-83b7-e700762f502f",
      "name": "Интервал (выполняется каждую минуту)",
      "type": "n8n-nodes-base.interval",
      "typeVersion": 1,
      "position": [
        280,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "dateTime": [
            {
              "value1": "={{DateTime.now()}}",
              "value2": "={{DateTime.now().set({ hour: 7, minute: 30, second: 0, millisecond: 0 })}}"
            },
            {
              "value1": "={{DateTime.now()}}",
              "operation": "before",
              "value2": "={{DateTime.now().set({ hour: 17, minute: 30, second: 0, millisecond: 0 })}}"
            }
          ],
          "number": [
            {
              "value1": "={{DateTime.now().weekday}}",
              "value2": 6
            }
          ]
        }
      },
      "id": "2d5fb0b4-6eac-4f9f-b433-c5150f921150",
      "name": "Сейчас рабочее время?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        500,
        240
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "url": "=https://help.knp24.ru/api/requests",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "timestamp",
              "value": "=>{{DateTime.now().minus({ months: 1 }).toFormat('yyyy-MM-dd') }}"
            },
            {
              "name": "gfullname",
              "value": "Группа системного администрирования"
            }
          ]
        }
      },
      "id": "cc6fbbce-d609-427a-ae5a-a752955d0b54",
      "name": "Получение списка заявок из vsDesk",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        740,
        240
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "1",
          "name": "КНП"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Code here will run only once, no matter how many input items there are.\n// More info and help: https://docs.n8n.io/nodes/n8n-nodes-base.function\n// Tip: You can use luxon for dates and $jmespath for querying JSON structures\n\nconst current = [];\nfor(let i = 0; i < items[0].json.length; i++) {\n  if(items[0].json[i].Status === \"Завершена\" || items[0].json[i].Status === \"Отменена\") {\n    continue;\n  }\n  current.push({\n    id: items[0].json[i].id,\n    user: items[0].json[i].fullname,\n    creator: items[0].json[i].creator,\n    group: items[0].json[i].gfullname,\n    timestamp: items[0].json[i].timestamp,\n    name: items[0].json[i].Name.replaceAll('\"', ''),\n    status: items[0].json[i].Status,\n    executor: items[0].json[i].mfullname,\n    priority: items[0].json[i].Priority === \"Высокий\" ? 5 : 3,\n    link: `https://help.knp24.ru/request/${items[0].json[i].id}`\n  })\n}\n\nlet updates = [];\nconst staticData = getWorkflowStaticData('node');\n\nif(!staticData.lastExecution || ! (staticData.lastExecution instanceof Array)) {\n  updates = JSON.parse(JSON.stringify(current));\n  updates.forEach(request => {\n    request.type = \"new\";\n  });\n }\nelse {\n  current.forEach(request => {\n    const index = staticData.lastExecution.findIndex(element => request.id === element.id);\n    if (request.status === \"Открыта повторно\") {\n      if (index !== -1 && request.status === staticData.lastExecution[index].status) {\n        return;\n      }\n      updates.push(JSON.parse(JSON.stringify(request)))\n      updates[updates.length - 1].type = \"reopened\";\n      return;\n    }\n    if (index === -1) {\n      updates.push(JSON.parse(JSON.stringify(request)))\n      updates[updates.length - 1].type = \"new\";\n      return;\n    }\n    if (index !== -1 && request.status === \"Просрочена реакция\") {\n      if (request.status === staticData.lastExecution[index].status) {\n        return;\n      }\n      updates.push(JSON.parse(JSON.stringify(request)))\n      updates[updates.length - 1].type = \"reactionTimeout\";\n      return;\n    }\n    if (index !== -1 && request.status === \"Просрочено исполнение\") {\n      if (request.status === staticData.lastExecution[index].status) {\n        return;\n      }\n      updates.push(JSON.parse(JSON.stringify(request)))\n      updates[updates.length - 1].type = \"executionTimeout\";\n      return;\n    }\n  });\n}\nstaticData.lastExecution = JSON.parse(JSON.stringify(current));\nreturn updates;"
      },
      "id": "37db4e3a-cb2e-4d32-8efd-f70fef246b77",
      "name": "diff и сохранение текущего списка заявок",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        3360,
        -60
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "requestMethod": "POST",
        "url": "https://ntfy.shitnsticks.top/",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "raw"
        },
        "bodyParametersJson": "={\n  \"topic\": \"vsdesk2\",\n  \"title\": \"Новая заявка\",\n  \"priority\": {{$json[\"priority\"]}},\n  \"message\": \"Название: {{$json[\"name\"]}}\\nID: {{$json[\"id\"]}}\\nСоздатель: {{$json[\"creator\"]}}\",\n \"click\": \"{{$json[\"link\"]}}\" \n}"
      },
      "id": "733fdb05-28a0-4b44-aed3-751d9dcf0f25",
      "name": "Уведомить о новой заявке",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        3980,
        -120
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "Ntfy admin"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$node[\"diff и сохранение текущего списка заявок\"].json[\"type\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "new"
            },
            {
              "value2": "reactionTimeout",
              "output": 1
            },
            {
              "value2": "executionTimeout",
              "output": 2
            },
            {
              "value2": "reopened",
              "output": 3
            }
          ]
        }
      },
      "id": "170b3b0a-e8a0-4278-a00a-a5c6979f828e",
      "name": "Распределение заявок по типам",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        3560,
        -60
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"name\"]}}",
              "operation": "startsWith",
              "value2": "[Main PRTG]"
            },
            {
              "value1": "={{$json[\"name\"]}}",
              "operation": "startsWith",
              "value2": "[PRTG Ticket]"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "14764a62-98c0-4533-ae49-a98e43570fb1",
      "name": "Заявка из PRTG?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3740,
        -260
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "requestMethod": "POST",
        "url": "https://ntfy.shitnsticks.top/",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "raw"
        },
        "bodyParametersJson": "={\n\"topic\": \"vsdesk2\",\n\"title\": \"Новая заявка из PRTG\",\n\"priority\": 2,\n\"message\": \"Название: {{$json[\"name\"]}}\\nID: {{$json[\"id\"]}}\",\n\"click\": \"{{$json[\"link\"]}}\" \n}"
      },
      "id": "10d9198c-bc65-4ef7-b053-187d242d384b",
      "name": "Уведомить о новой заявке из PRTG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        3980,
        -320
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "Ntfy admin"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "requestMethod": "POST",
        "url": "https://ntfy.shitnsticks.top/",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "raw"
        },
        "bodyParametersJson": "={\n\"topic\": \"vsdesk2\",\n\"title\": \"Просрочилась реакция по заявке {{$json[\"id\"]}}\",\n\"priority\": 4,\n\"message\": \"Название: {{$json[\"name\"]}}\\nСоздатель: {{$json[\"creator\"]}}\",\n\"click\": \"{{$json[\"link\"]}}\"\n}"
      },
      "id": "47cc4d6e-d434-4c33-b30a-0f7396975c2d",
      "name": "Уведомить о просроченной реакции по заявке",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        4000,
        80
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "Ntfy admin"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "requestMethod": "POST",
        "url": "https://ntfy.shitnsticks.top/",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "raw"
        },
        "bodyParametersJson": "={\n\"topic\": \"vsdesk2\",\n\"title\": \"Просрочилась заявка {{$json[\"id\"]}}\",\n\"priority\": 5,\n\"message\": \"Название: {{$json[\"name\"]}}\\nСоздатель: {{$json[\"creator\"]}}\",\n\"click\": \"{{$json[\"link\"]}}\"\n}"
      },
      "id": "6960a393-7bf6-4f85-b6d6-c754b4cb002d",
      "name": "Уведомить о просроченной заявке",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        3980,
        300
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "Ntfy admin"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "requestMethod": "POST",
        "url": "https://ntfy.shitnsticks.top/",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "raw"
        },
        "bodyParametersJson": "={\n\"topic\": \"vsdesk2\",\n\"title\": \"Заявку {{$json[\"id\"]}} вернули в работу\",\n\"priority\": 5,\n\"message\": \"Название: {{$json[\"name\"]}}\\nСоздатель: {{$json[\"creator\"]}}\",\n\"click\": \"{{$json[\"link\"]}}\"\n}"
      },
      "id": "808c4ef8-0a95-4dbf-86cb-cc503c24e34a",
      "name": "Уведомить об открытой заново заявке",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        4000,
        500
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "Ntfy admin"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items[0].json.map(request => {\n  return {\n    id: request.id,\n    user: request.fullname,\n    creator: request.creator,\n    group: request.gfullname,\n    name: request.Name.replaceAll('\"', ''),\n    status: request.Status,\n    priority: request.Priority === \"Высокий\" ? 5 : 3,\n    subs: []\n  }\n})"
      },
      "id": "87d89e9d-2f71-4c04-983c-4724d65b21d3",
      "name": "Грубая очистка данных",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1380,
        -260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"status\"] }}",
              "operation": "notEqual",
              "value2": "Завершена"
            },
            {
              "value1": "={{ $json[\"status\"] }}",
              "operation": "notEqual",
              "value2": "Отменена"
            }
          ]
        }
      },
      "id": "5439a370-e529-4aea-a7c8-2db240442d87",
      "name": "Заявка актуальна?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1600,
        -260
      ]
    },
    {
      "parameters": {
        "url": "=https://help.knp24.ru/api/requests/{{ $json[\"id\"] }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "id": "2f8578e9-1b76-481a-883a-51f64f26bf67",
      "name": "Запроси данные о конкретной заявке",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1860,
        -280
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "1",
          "name": "КНП"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// console.log(item.json.data)\n// return JSON.parse(\n// console.log(data)\n// const subs = data.subs.map(sub => sub.id)\n// console.log(subs)\n// return { subs: data.subs }\n// return JSON.parse(items[0])\n\nconsole.log(item.json.data)\nreturn item.json"
      },
      "id": "335b0fa8-ebb4-45a4-b3ce-49e8dd2140df",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2080,
        -280
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "url": "=https://help.knp24.ru/api/requests",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "timestamp",
              "value": "=>{{DateTime.now().minus({ months: 1 }).toFormat('yyyy-MM-dd') }}"
            },
            {
              "name": "gfullname",
              "value": "Группа системного администрирования"
            }
          ]
        }
      },
      "id": "644534ae-2550-4013-9ce4-f9001bb9ad50",
      "name": "Получение списка заявок из vsDesk1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        900,
        -240
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "1",
          "name": "КНП"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "wrapper",
        "options": {}
      },
      "id": "1adbfbd4-3a26-4253-be56-ffdef544b894",
      "name": "Разбиваем их на части",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2.1,
      "position": [
        1140,
        240
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Status }}",
              "value2": "Завершена"
            },
            {
              "value1": "={{ $json.Status }}",
              "value2": "Выполнена"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "b108fd8c-eca4-4d0d-a4d8-ab8f94dcd09f",
      "name": "Заявка закрыта?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1360,
        240
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\n$input.item.json = {\n  wrapper: JSON.parse(JSON.stringify($input.item.json))\n};\n\nreturn $input.item;"
      },
      "id": "8f4106c1-0685-49ed-a22b-f32823376b37",
      "name": "!КОСТЫЛЬ! Оборачиваем полученные данные",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        940,
        240
      ]
    },
    {
      "parameters": {
        "operation": "push"
      },
      "id": "69a512a2-ad43-4710-a37b-350219a0e19e",
      "name": "Redis",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1580,
        240
      ]
    }
  ],
  "connections": {
    "Сейчас рабочее время?": {
      "main": [
        [
          {
            "node": "Получение списка заявок из vsDesk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "diff и сохранение текущего списка заявок": {
      "main": [
        [
          {
            "node": "Распределение заявок по типам",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Распределение заявок по типам": {
      "main": [
        [
          {
            "node": "Заявка из PRTG?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Уведомить о просроченной реакции по заявке",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Уведомить о просроченной заявке",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Уведомить об открытой заново заявке",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Заявка из PRTG?": {
      "main": [
        [
          {
            "node": "Уведомить о новой заявке из PRTG",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Уведомить о новой заявке",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Грубая очистка данных": {
      "main": [
        [
          {
            "node": "Заявка актуальна?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Заявка актуальна?": {
      "main": [
        [
          {
            "node": "Запроси данные о конкретной заявке",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запроси данные о конкретной заявке": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Интервал (выполняется каждую минуту)": {
      "main": [
        [
          {
            "node": "Сейчас рабочее время?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получение списка заявок из vsDesk": {
      "main": [
        [
          {
            "node": "!КОСТЫЛЬ! Оборачиваем полученные данные",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Разбиваем их на части": {
      "main": [
        [
          {
            "node": "Заявка закрыта?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "!КОСТЫЛЬ! Оборачиваем полученные данные": {
      "main": [
        [
          {
            "node": "Разбиваем их на части",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Заявка закрыта?": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "4"
  },
  "staticData": {
    "node:diff и сохранение текущего списка заявок": {
      "lastExecution": [
        {
          "id": "234136",
          "user": "Золин Александр Борисович",
          "creator": "Золин Александр Борисович",
          "group": "Группа системного администрирования",
          "timestamp": "2023-01-11 17:44:02",
          "name": "Рабочее место ",
          "status": "Открыта",
          "executor": null,
          "priority": 5,
          "link": "https://help.knp24.ru/request/234136"
        },
        {
          "id": "234134",
          "user": "Золин Александр Борисович",
          "creator": "Золин Александр Борисович",
          "group": "Группа системного администрирования",
          "timestamp": "2023-01-11 17:43:02",
          "name": "Рабочее место ",
          "status": "Открыта",
          "executor": null,
          "priority": 5,
          "link": "https://help.knp24.ru/request/234134"
        },
        {
          "id": "234133",
          "user": "PRTG alert",
          "creator": "PRTG alert",
          "group": "Группа системного администрирования",
          "timestamp": "2023-01-11 17:42:02",
          "name": "[Main PRTG] 192.168.17.235 Комп мастера Пинг (Пинг) Ошибка  (Request timed out (ошибка ICM=?utf-8?B?",
          "status": "Открыта",
          "executor": null,
          "priority": 3,
          "link": "https://help.knp24.ru/request/234133"
        },
        {
          "id": "234132",
          "user": "Золин Александр Борисович",
          "creator": "Золин Александр Борисович",
          "group": "Группа системного администрирования",
          "timestamp": "2023-01-11 17:41:32",
          "name": "Рабочее место ",
          "status": "Открыта",
          "executor": null,
          "priority": 5,
          "link": "https://help.knp24.ru/request/234132"
        },
        {
          "id": "234127",
          "user": "Родионова Оксана Борисовна",
          "creator": "Родионова Оксана Борисовна",
          "group": "Группа системного администрирования",
          "timestamp": "2023-01-11 17:05:27",
          "name": "Доступ к программе Диадок",
          "status": "Открыта",
          "executor": null,
          "priority": 3,
          "link": "https://help.knp24.ru/request/234127"
        },
        {
          "id": "234074",
          "user": "Кириллова Оксана Альбертовна",
          "creator": "Кириллова Оксана Альбертовна",
          "group": "Группа системного администрирования",
          "timestamp": "2023-01-11 14:01:01",
          "name": "Добавить права админа на ПК",
          "status": "Принята в исполнение",
          "executor": null,
          "priority": 3,
          "link": "https://help.knp24.ru/request/234074"
        },
        {
          "id": "234072",
          "user": "Максимов Евгений Вадимович",
          "creator": "Максимов Евгений Вадимович",
          "group": "Группа системного администрирования",
          "timestamp": "2023-01-11 13:53:10",
          "name": "Заявка на предоставление доступа к информационным ресурсам.",
          "status": "Просрочена реакция",
          "executor": null,
          "priority": 3,
          "link": "https://help.knp24.ru/request/234072"
        },
        {
          "id": "234045",
          "user": "Косович Дина Юрьевна",
          "creator": "Косович Дина Юрьевна",
          "group": "Группа системного администрирования",
          "timestamp": "2023-01-11 11:26:50",
          "name": "Создание учетной записи",
          "status": "Просрочена реакция",
          "executor": null,
          "priority": 3,
          "link": "https://help.knp24.ru/request/234045"
        },
        {
          "id": "234043",
          "user": "Косович Дина Юрьевна",
          "creator": "Косович Дина Юрьевна",
          "group": "Группа системного администрирования",
          "timestamp": "2023-01-11 11:25:04",
          "name": "Переадресация",
          "status": "Просрочена реакция",
          "executor": null,
          "priority": 3,
          "link": "https://help.knp24.ru/request/234043"
        },
        {
          "id": "234035",
          "user": "Мутовина Ольга Леонидовна",
          "creator": "Мутовина Ольга Леонидовна",
          "group": "Группа системного администрирования",
          "timestamp": "2023-01-11 10:42:32",
          "name": "Не работает клавиатура на АСН",
          "status": "Просрочено исполнение",
          "executor": null,
          "priority": 5,
          "link": "https://help.knp24.ru/request/234035"
        },
        {
          "id": "233931",
          "user": "Артемьева Алена Михайловна",
          "creator": "Артемьева Алена Михайловна",
          "group": "Группа системного администрирования",
          "timestamp": "2023-01-10 17:23:54",
          "name": "Прошу обновить бесперебойник на моём компьютере  (не держит моргание света) ",
          "status": "Просрочено исполнение",
          "executor": null,
          "priority": 5,
          "link": "https://help.knp24.ru/request/233931"
        },
        {
          "id": "233902",
          "user": "Тимощенко Андрей Юрьевич",
          "creator": "Тимощенко Андрей Юрьевич",
          "group": "Группа системного администрирования",
          "timestamp": "2023-01-10 15:01:12",
          "name": "Предоставление доступа к видео по АЗС №121",
          "status": "Просрочена реакция",
          "executor": null,
          "priority": 3,
          "link": "https://help.knp24.ru/request/233902"
        },
        {
          "id": "233643",
          "user": "Скомаровская Ольга Анатольевна",
          "creator": "Скомаровская Ольга Анатольевна",
          "group": "Группа системного администрирования",
          "timestamp": "2023-01-09 12:01:56",
          "name": "МФУ постоянно при печати заминает бумагу",
          "status": "Просрочена реакция",
          "executor": null,
          "priority": 3,
          "link": "https://help.knp24.ru/request/233643"
        },
        {
          "id": "233012",
          "user": "PRTG alert",
          "creator": "PRTG alert",
          "group": "Группа системного администрирования",
          "timestamp": "2023-01-02 13:25:01",
          "name": "[Main PRTG] Назарово НБ ЖД2 Ping (Пинг) Ошибка  (Destination host unreachable (ошибка ICMP=?utf-8?B?",
          "status": "Просрочено исполнение",
          "executor": "Лиханов Олег Олегович",
          "priority": 3,
          "link": "https://help.knp24.ru/request/233012"
        },
        {
          "id": "232605",
          "user": "Стекляев Юрий Андреевич",
          "creator": "Стекляев Юрий Андреевич",
          "group": "Группа системного администрирования",
          "timestamp": "2022-12-29 16:53:07",
          "name": "Проблема с виндовс",
          "status": "Открыта повторно",
          "executor": "Дмитриев Виктор Борисович",
          "priority": 3,
          "link": "https://help.knp24.ru/request/232605"
        },
        {
          "id": "232424",
          "user": "Денисова Татьяна Ивановна",
          "creator": "Денисова Татьяна Ивановна",
          "group": "Группа системного администрирования",
          "timestamp": "2022-12-29 07:07:13",
          "name": "Перенос рабочего места",
          "status": "Требует уточнения",
          "executor": "Лиханов Олег Олегович",
          "priority": 3,
          "link": "https://help.knp24.ru/request/232424"
        },
        {
          "id": "232219",
          "user": "Орлова Мария Владимировна",
          "creator": "Орлова Мария Владимировна",
          "group": "Группа системного администрирования",
          "timestamp": "2022-12-28 08:29:06",
          "name": "Не получается зайти  на площадку АСТ ГОЗ ",
          "status": "Принята в исполнение",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/232219"
        }
      ]
    }
  },
  "pinData": {},
  "versionId": "b46a20ff-764d-4ba6-a100-7e98e0d9d071",
  "triggerCount": 1,
  "tags": []
}