workflows/Уведомление о шаблонных задачах.json
{
  "createdAt": "2023-06-09T08:57:08.415Z",
  "updatedAt": "2023-09-30T14:00:43.000Z",
  "id": "7",
  "name": "Уведомление о шаблонных задачах",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "cf149754-de19-4c6c-be23-a1eb821c30ca",
          "mode": "list",
          "cachedResultName": "Список задач",
          "cachedResultUrl": "https://www.notion.so/cf149754de194c6cbe23a1eb821c30ca"
        },
        "returnAll": true,
        "simple": false,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "key": "Шаблонная задача|checkbox",
              "condition": "equals",
              "checkboxValue": true
            },
            {
              "key": "Статус|select",
              "condition": "equals",
              "selectValue": "Не сделано"
            }
          ]
        },
        "options": {}
      },
      "id": "42fee660-ee7a-4aa9-a5c6-43a3f01ce4d1",
      "name": "Получение списка задач",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        700,
        480
      ],
      "credentials": {
        "notionApi": {
          "id": "4",
          "name": "Notion"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "34b150b2-1219-4e91-a345-d79ac8091ddc",
      "name": "Запуск каждую минуту",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        480,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "const output = [];\nconst staticData = $getWorkflowStaticData('global').lastExecution;\n// console.log(`Static data is ${staticData}`);\n\nif (staticData) {\n  for (const item of $input.all()) {\n    if (! staticData.includes(item.json.id)) {\n      output.push(item);\n    };\n  };\n} else {\n  // console.log(`No static data`);\n  return $input.all();\n}\n\nreturn output;"
      },
      "id": "7f3e3381-5d77-424b-bc6b-61bfe15da6ee",
      "name": "Убираем уже знакомые задачи",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        920,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "let staticData = $getWorkflowStaticData('global').lastExecution;\nif ( ! staticData ) {\n  staticData = [];\n};\nfor (page of $input.all()) {\n  staticData.push(page.json.id);\n};\nif (staticData.length > 40) {\n  staticData = staticData.slice(staticData.length - 40 - 1);\n};\nreturn { json: {} };"
      },
      "id": "fa41757c-82e6-4bc8-a504-c41f541b0aae",
      "name": "Обновляем список знакомых страниц",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1160,
        260
      ]
    },
    {
      "parameters": {
        "chatId": "198424221",
        "text": "=<a href=\"{{ $json[\"url\"] }}\">{{ $json[\"properties\"][\"Имя\"][\"title\"][0][\"plain_text\"] }}</a>",
        "replyMarkup": "inlineKeyboard",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "6733a56f-dc1b-47b9-aeb8-68f6c117c70c",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1160,
        480
      ],
      "credentials": {
        "telegramApi": {
          "id": "6",
          "name": "Ассистент"
        }
      }
    }
  ],
  "connections": {
    "Запуск каждую минуту": {
      "main": [
        [
          {
            "node": "Получение списка задач",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получение списка задач": {
      "main": [
        [
          {
            "node": "Убираем уже знакомые задачи",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Убираем уже знакомые задачи": {
      "main": [
        [
          {
            "node": "Обновляем список знакомых страниц",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Запуск каждую минуту": {
      "recurrencyRules": []
    },
    "global": {
      "lastExecution": [
        "1bd56d16-e8e4-4ad0-9bb2-0681ee0d6ff5",
        "48cbfd07-fe3a-4213-b2a1-909b27af80fa",
        "32b68b91-71c9-47f7-871c-ebaa4359a9a8",
        "1e81aee7-799d-4f32-bc80-f9ae347041f6",
        "31665a6b-7652-4d87-beb1-fbe66cfe2ec3",
        "ff22089d-0f44-47ef-8486-499bf9c945ee",
        "54d0a11e-50f7-469f-ac12-32ca2653d1e2",
        "5ff900f3-06ee-45fa-8e89-d7053abee509",
        "3ecf05b7-f1fc-4bf1-9da6-f483df03a6f3",
        "f3de50bd-5a1e-4597-84db-b61e8f4e1cae",
        "4b5c1076-c99c-4003-8b6f-29ac036cdc9b",
        "fa3306d1-cf2b-4e5e-9914-1e6e095c301b",
        "45d282f5-3d2d-4beb-b270-818eb3586465",
        "462fe463-2c8f-4e8a-9e5d-21a9839108a6",
        "68220d4e-84e6-41a7-a792-8d9e350665ac",
        "d3e51653-42b5-494d-a1ab-c2f264d8edc9",
        "631d9797-f12f-4260-9560-79e7f749d14f",
        "5c951799-8048-4937-87bf-fa80eea541cb",
        "296c913e-260b-4fad-83cc-838b8292badc",
        "8c428a77-4ecd-4954-b172-f372c68687d1",
        "6b5ec8f8-64c3-425c-9766-42c2853550fb",
        "37e8338f-32a1-49cd-9a66-5bc74a1717e6",
        "2bf1dfba-b1d0-4959-a121-6c72a54f530c",
        "ff558ace-d312-452e-8d50-135d862033aa",
        "9bdee38b-31c5-4cd7-827f-0c915a31fde1",
        "7c4c9e31-f08f-41a8-a215-e0a3d07ec1c5",
        "e400f1eb-8193-4541-89e5-bf50251f3d6d",
        "11faef0d-004d-45b8-b1b0-e49975cd5a0e",
        "5a069f53-385c-40cf-8af3-79c98348c0ce",
        "03e74cc1-d844-4051-9e4d-69c1d7d2c12f",
        "0db1ea25-4740-48bd-a2ec-67c527391b52",
        "a9c446c1-86ee-409a-bcbd-db44d93bce7b",
        "da76acb8-71ec-433d-b00a-a4050d028e66",
        "495a7b7b-0853-4cc0-a862-b18860fc08ea",
        "9561ab7a-7bc6-47a8-9f6c-16b132ef641a",
        "dbaf6265-e93c-41de-9a39-f5f1f0dcd0f5",
        "a7cf2bf0-0d88-4274-8b81-60aadcba3c22",
        "4edd3668-6d81-4978-8ea4-d07bb61c6a6c",
        "2266f19f-5761-4f10-b5b0-e3ef2a0db9a7",
        "5051b81d-ea6d-4b3a-8732-7da8b6515e50",
        "106372c1-c199-4317-8b20-71293210f933",
        "a7f91000-4e8d-45dd-ae6e-65f7fe3bebdd",
        "9a022308-37cc-414c-b048-e74e487dad24",
        "2602ce68-add8-464b-823e-6962bef9ebe8",
        "e84cc06b-b693-48c1-8c4f-3626abfe28dc",
        "4286fbbf-e6b1-4044-ad48-cbfb2987c1a4",
        "b0711862-036e-4bd3-877d-e6642a3cad39",
        "84bfb500-2722-412f-9445-4a0ddb12f86c",
        "b850b9d7-a681-4fc8-8303-3113cc92b535",
        "137bb9e1-b908-4ce1-838e-597d5b00614e",
        "5ca7387d-add0-4b4a-8122-574b3d722f1f",
        "2c42c298-a9a6-4f7f-b140-60e68556b43c",
        "b74284fd-a40e-4e5a-8f39-8e99f9de18af",
        "d6df4463-bd88-4c4d-a680-a2478112adc9",
        "7012335a-b8dc-4869-9389-45f8c465757a",
        "5e414419-77dd-403f-ac74-6d5e417dfe72",
        "616625f4-a9ad-4be9-a9e7-7ff0dd1f77a2",
        "dbc85c02-9265-4a81-beb1-0ea7f53bddab",
        "4f60f858-571b-49b4-8db4-af6330a3c49d",
        "d8eaa08c-789e-40ea-9413-6e6b45da0fb3",
        "d32b5a03-96e5-4196-91bf-5f48cd1efaed",
        "0ff7600c-0556-4153-8cca-736d43494dbd",
        "cec261aa-9e47-4dbb-a7dc-b5863961dc6b",
        "7d201dfe-23ec-4cc0-87c2-d54af47417b9",
        "48120467-d862-4bb2-a023-b59ae9cdbcc6",
        "41bdfbec-efb2-43e4-92a6-3448ddc1b765",
        "6b71f967-ea37-4d9d-9c11-e64356cee79e",
        "688325d4-73db-46b3-98a5-77a5f1a1a9e6",
        "d96c89ce-3bc2-4964-b8e8-55dfef969655",
        "f5256198-5c2f-4483-aa51-b29c5f08810c",
        "247b6a1e-90d8-4a44-a386-01acb775c144",
        "c6a72f62-fa76-442b-87d5-5278609d5664",
        "aa84a31c-1b1f-461c-80ea-ee664421be55",
        "5c0ca975-1f2b-4095-a0f7-f1ad58793423",
        "1186ac84-73e1-4e5d-b7f4-4c081030b763",
        "be94b017-0eb0-43be-91e6-48ab857574f3",
        "670fdd6b-a3e0-4a2d-8559-5572fffa7a85",
        "4b24dffd-1d21-45f4-9ef8-a6838c652f95",
        "5bd5e2b6-46ff-4bdd-a044-edd5c86061d3",
        "3f9e743c-623d-4915-bdf6-3514622a51e3",
        "3c39c129-67d8-4ac9-8a9f-ee5008586683",
        "ef1ed36d-d375-46fc-98ac-5f5a6c8f8da7",
        "45c0adac-8e8e-4f6e-8ea9-24458e8a3a8a",
        "77fe33b7-9142-4ace-88b4-c08afe319d0f",
        "0b1cdee9-29e1-4690-8fde-939c38f2b083",
        "0fe87ff5-dad7-4f13-8ddc-ff8ab83d9328",
        "e73eb1c4-5a7a-4815-be8e-5e5f2d69404b",
        "fc605230-81e5-4736-b1af-152e60459d35",
        "77c34fd5-d157-434f-b9dc-247e7eb41e34",
        "fad0aedd-ac14-4d46-ae6f-f86143773f91",
        "9175d21c-1714-46ed-a448-cb080f0c9ebd",
        "d9e29f1a-e09f-49b7-8c31-7e3def4ff47e",
        "a79e498b-151c-4b2a-9169-50da224d92fa",
        "eadc211c-5eef-4e8c-9a74-8f702a265c5c",
        "05373950-7cb6-45a6-8416-750675478dbf",
        "c87dfc91-ea66-41dd-b487-93b9e6dfbf3b",
        "405eb7af-7c57-4e7f-86a0-965416ce82db",
        "9c6c7670-bbc8-4164-aa23-78884c42ad32",
        "1f2fbe9b-0137-4af7-9834-5888aa68b89f",
        "b9d0071b-4501-4c41-9455-e8aaa6fe8680",
        "5fa78802-6300-4d27-956d-5357b7c9c0b0",
        "8a1dd63e-cb58-4248-8040-59e9ec5e0040",
        "a37a87c3-f9c3-4b94-ab87-6ed61175948d",
        "df1dab73-2655-4c72-b712-8e30675480be",
        "0e340ba0-5716-4236-86a9-e2384825c612",
        "c60bc032-b9a5-4825-b0f6-62b90e6fbbba",
        "f76f2a12-3e27-4da0-b299-6514c05811c1",
        "ec18b47c-7ed1-4b2a-a81b-c686e7cfc57c",
        "0db1b664-3df8-47bc-b71a-155522f68d6a",
        "f5afcd63-2c5e-48cd-aac3-9b6617c932d4",
        "cb1e2a86-cab8-40e1-a8f3-2786a0772c16",
        "2700c7e3-7112-4981-9ef7-793e009f9c39",
        "b8d3b129-9879-4cd1-a3b0-25c622ab6668",
        "52c39dc6-6c77-4131-94f1-70e164e44d0f",
        "6e40b8f9-2730-474e-9800-c18174891c11",
        "b4460bcf-6dd8-4126-80d5-da41f604b18a",
        "ff8427a4-a64a-4320-a446-30afa789a098",
        "074924a1-d719-4b7f-8e76-a76a10ac4b24",
        "0b758e88-c6bd-4e00-a745-4f36d836553d",
        "8f40b924-b95f-449b-ab08-91d542a5e852",
        "d141590e-c182-4762-a41d-bfccdd88c856",
        "faf5a6e3-e452-4c87-904f-0b57a9a9edab",
        "f0d17b4e-1313-4713-9f79-3838bdd25594",
        "568e3d8d-48c4-4755-9e2a-6ec008927d03",
        "7b3ae9ad-913b-4771-9e7e-7f07a55740c0",
        "b023b3f8-f4e3-4c18-9b9e-74a1f0427365",
        "8a8ee424-c67c-41f5-bc4b-0f553fc4829a",
        "74bb32e0-96f0-4aa9-a2e6-69faea83f0d2",
        "e8015558-505f-4365-8eb3-983250642a2f",
        "59161297-d129-4559-baf2-3bdc3a652b68",
        "af3c74bd-6f58-4806-b86d-ea318c14dc84",
        "f51bf5e8-0d50-4a7b-9e2e-9999aa0e213a",
        "52786c8e-8542-475a-8ad4-74a69a7c2630",
        "2e47236c-f47f-4847-8c10-84ac43d4a614",
        "72d8539a-a9dc-47fc-b8a1-66ab4eb3d819",
        "7c3296f4-c51e-427f-b8d1-a79d78720d6a",
        "71df38ea-9f39-4220-ba5b-cb315e53dde6",
        "67d791aa-fc06-4617-91e3-42e4236cd31c",
        "b2ac8a5f-8349-40c5-aac8-f366ee547e75",
        "3e296c72-1dec-4230-b975-446ff60c5126",
        "0c109352-bd3a-4263-b39e-8053bf8bea98",
        "d498a18b-ef68-444a-ad57-a4943165fe52",
        "e6080bb8-5e1c-40f4-97de-767c693ba7e8",
        "6cdac40a-72c5-4df1-b050-d44dce7f891a",
        "e6e5979b-0312-4874-a354-206a95d1a608",
        "e82f14ca-0022-4076-869a-a10c74ab5b08",
        "f93d61df-8f68-4819-ad8b-fa04345894c2",
        "f7fab085-d6b9-454a-811d-c72f70d46d92",
        "c06a6eed-8037-4e06-83ad-a9251beedd03",
        "4d7ef1ca-e219-4889-9b0f-2291d71b190c",
        "c633f2d9-444e-49f7-9cb1-5d38038e23ef",
        "0eac5a72-e842-4d0f-8767-39ed666bea99",
        "74d9913c-e522-4473-beaa-c77bc8ab289e",
        "6ba79f5d-5f8c-4288-9cf1-2ea862f788dd",
        "706d2d7f-6321-4c9f-9da6-77d0a71534d1",
        "ffdeb630-612a-49da-b0eb-64f13457e0c2",
        "231e79dc-9602-4890-9262-74c842ced2f3",
        "cde70ef1-6733-482e-b6c3-fef45bbc7885",
        "5a42ac13-950e-444c-988f-05907bebdb9b",
        "b527462e-e99b-458a-a156-56515347f0b5",
        "f90ac59f-f55a-48cc-baf4-19c1ffce2c9f",
        "fc8fe351-b445-40aa-b5b1-49b44b962da3",
        "1c708341-05af-4cef-83d7-f79265a53316",
        "c7ccd9f7-f216-4cde-946e-358c54c99666",
        "58e0c20b-cc29-4f6c-8527-2907c7d79448",
        "23d5a4e8-eef0-4a78-b8bf-6712c89b84cd",
        "e5fe6254-f5fd-4aa2-bfe2-c7de0e7ba134",
        "6b96c6c8-7e12-483c-88c4-edb75028309f",
        "b655e13d-51ec-4267-b6a7-763f74a50859",
        "9b4fd43f-1381-4ece-8533-92d7131c3b51",
        "085cc5e5-b4d8-40ec-a276-9a40f1537647",
        "0d408da9-625f-47c2-a400-5df3ea26ba9e",
        "6c669d43-5353-401d-ae46-36ecc4737405",
        "30b36bd9-1dae-4671-a358-580049fca5c1",
        "3c28beda-dbaf-4f65-81ab-c41c57632c1c",
        "f06a24b8-ce5d-4c47-a757-9ee842081fd0",
        "31f4b6d9-84b9-4b0e-87f5-70f2cf3beaf3",
        "4b771431-d627-40c7-9ada-c52a4e4f6a88",
        "6865b393-a630-4d3b-8448-ac60c8b28f9e",
        "61c7d657-40fd-4aa8-b552-e8967f3f5323",
        "21ebb73f-4284-4a68-b87a-5bcdc43aa48e",
        "83206583-89ad-428a-abc2-f1c4ac9dd5a2",
        "5f17a330-6d43-468d-9aeb-d4929b6f65a0",
        "54a1dd4c-30dc-4696-b938-1596858cacd0",
        "5c3a7212-85ec-4876-8c5c-abb7118e3fd7",
        "1a430718-b615-4a97-9467-c9186df06d6e",
        "0597e3ba-0088-41f0-9498-8a78c0f7f83d",
        "a8b1b8a9-fd8a-46cf-b8ab-5c44cb8da262",
        "8e47fe66-0cb0-4671-a0e1-e827c68355fc",
        "32ae9339-afcf-4aa5-b6ea-38843f28cc57",
        "c0585307-077c-4cd2-898c-a873a0d5119b",
        "bfc1be00-e99c-4844-8850-285b602336ae",
        "ee1049a5-1cb6-4ba4-9a34-570b449ad34b",
        "4c7f5cfd-73bd-46e6-b8d7-d37ea88a9c86",
        "2c86a2ba-cb01-44a0-8e68-da51f948bb8d",
        "634d6a35-3034-443e-8797-8e17ad30fc05",
        "a79755c4-4d4c-4d05-8131-c4383461d7af",
        "9e61eee3-4da6-4cb5-af09-d1774d5b24cf",
        "b6513d22-8c5b-478d-a1ac-d2887a2862ff",
        "ff1e62cf-cb13-4d6b-91d1-c62113edf1e9",
        "3d4bcfe3-ddbb-4ed9-ac71-141745939cbc",
        "35044d79-90d5-48cb-8a71-10d6c7e94766",
        "9e6bcc86-2e9c-4971-b262-a6d35b665645",
        "9670925d-51e3-4364-b4e4-9af867164550",
        "051041c3-9158-4d16-aa5a-e83bed10308e",
        "572968ab-4e2e-4cd4-a5b3-33ae18a6f402",
        "eef2740b-9adc-41b2-8ce9-7d33d20d0510",
        "7c5c0b90-ec93-46fa-ae7a-a3975735f819",
        "81d3cfa6-676e-4d4a-8a8d-62156b79b9b4",
        "727fbd01-b53f-4131-b8ac-53d33d524f5b",
        "e88a775a-f1ab-4f1a-a6fa-0ad685fcb7e1",
        "56d46667-1c7e-4643-b686-90b4e99c0c71",
        "e03f3ac7-2e8e-4142-9769-2971bbc0a7f7",
        "9b3b5874-a15e-4487-b74e-9c39c5ca04ff",
        "ca0dbc3e-5c6e-4b59-a86d-46ab7456df92",
        "d60e26e7-c2da-40ff-9c70-1086a4a29a8e",
        "6b59dbae-6898-4f2d-8c2f-709326c71da0",
        "68387ab6-2cfc-4f3d-a43f-d0e01b0869ff",
        "1a22899e-e676-4132-97f8-6bddb41e8914",
        "81fb809b-4685-4ee1-ab79-9436a8784fcc",
        "1f6c7072-7a07-486e-9de1-2561b495bb31",
        "b547a352-5a5b-421f-821a-1d9340bf1c92",
        "9f38b439-5401-4a0c-b900-ea619ffbd11b",
        "a3a2d064-55a5-4f46-abab-6ced2d49ba05",
        "39609c19-a1f1-48fb-bd6b-63708b2f12a1",
        "80dfe9a5-a77c-4947-8cbc-bded2053733d",
        "ffafdf5f-cc3e-4056-812b-08045a4279fa",
        "dcb4c637-1c6e-41ef-a415-ea0eea496ef5",
        "2512d160-fd4b-4368-abad-ad92c44b0f05",
        "316f9916-fc29-4179-bf1d-5f56e772b0a3",
        "4ca07782-6329-4b0d-95ce-ea55ed7ca587",
        "c09fb909-eba0-4866-9558-e3d761f0d49a",
        "2e161869-3edb-4cf3-b2cc-6f7450c632e9",
        "a40926cf-e333-46e0-8655-6c6dd4cbee5d",
        "d30e04a1-3a04-418b-8a58-8425e804d56f",
        "791c5079-e64d-4ecb-a7fb-b087411e9460",
        "d7b4f7f9-1011-4543-b41a-2169d0658697",
        "638ac2fe-c879-465a-8d55-dceb32adc00d",
        "18fc35b3-2149-4c0a-93c5-8bf7b818556d",
        "0b05bc34-e7d6-4c3c-bb0d-52d97c0ac2b1",
        "0406eeea-2e69-4404-91cd-ae20199bbdce",
        "183ad756-e671-44f6-a912-1b9db8183004",
        "a4359d72-143c-4e35-99c2-a6d94b015c2c",
        "fb9fedbb-c0bf-4925-ae89-4094a7f57a2e",
        "22966c15-0b9f-4aa6-baa4-770e599d0fad",
        "e7500782-5a16-429c-8efe-71ef03d76ab2",
        "7a3d4e46-5ebd-4c8d-931e-521f7c1f2033",
        "d1a92ddd-1f37-4dc1-aab9-2a88e9612f16",
        "99f15060-52d3-4210-b30f-8ce85bda454c",
        "a55371b7-7bee-49d0-a21b-5faaaa3157c8",
        "6c92b341-54cb-4347-912e-33cb6746eb80",
        "7773160d-e67e-4cad-b605-a985787b10d2",
        "d0629c6b-b798-492e-b053-d8e97f7d07a4",
        "aaa69a98-d9d7-458b-9671-7b4e13a71052",
        "799b1393-29f4-4a7e-96b9-bf490b1629d1",
        "55fa21bd-cd03-4311-b7fe-ce116d4531bc",
        "bb259551-8c3c-4875-87cb-8173e21b1013",
        "9d891e8e-6116-4e06-9d15-6519e196beb3",
        "c05b619b-720e-4bd0-a055-ddbc1fdb7af4",
        "7c3bdf19-9a8f-49d4-a620-09b84e9f6993",
        "cff794e4-1c28-41c3-980e-6c401ed915d5",
        "7b6a8e8d-4d5e-487a-a901-afc7fbfe2505",
        "ab4f7a65-e72d-4834-b5eb-8596d6cc4d77",
        "ed6c86ba-bf01-4e1f-a695-fc69ae506413",
        "5ed0c2bd-97cf-4a48-8945-9021c58fdc13",
        "694bab84-f2be-4f0c-bad7-829d5f09b145",
        "ab27378c-8230-4ac9-bae4-2d516b15fd24",
        "89490ddc-b602-4221-9ece-bf74be0aac22",
        "3ebf5b6f-e32a-4e42-8449-4778079ea647",
        "c1e02108-0206-47bc-ad60-1ca1bc93ab45",
        "83539922-42be-4094-ac76-f90cb6636f6f",
        "f05777b5-d421-4a48-ac2d-7049258d44b5",
        "d5f51fea-1621-49f0-bc28-c4eecb24be45",
        "fc4db989-c696-4236-9852-d806983f51fa",
        "e4433c73-289d-4fea-a08a-a4842a8495ad",
        "3352ad26-0fff-4b68-85e3-bc1c09be3d2e",
        "88bb8dec-6e58-4fac-ad2d-0c948c8973c0",
        "d4bf9f7d-2a58-40c0-b739-0e549a6d1665",
        "03e177e3-58a3-49fa-8b57-19a9d8849c61",
        "f25bc4ff-5b17-4dbd-b7c8-0e8a2e6bc1d9",
        "8326c293-7a0a-47fd-81fe-f3e9cc618bfc",
        "5852c4be-7f65-4778-87b4-8ddcd539810c",
        "0bf82e3b-e435-42a8-8a21-c4c3f1c6d2e0",
        "98d62522-9daf-4c12-bfbe-22b30f4a7bdf",
        "96bce55f-9b45-4bf7-95ed-05eb9ad12f45",
        "46054812-e823-4553-a1a9-f5e1889f9f76",
        "b15f4525-f04c-4910-91ca-0df824204a3c",
        "a5c83cc2-e310-4ad9-b35b-ca63d4d42ed1",
        "1a819588-d299-42fc-842f-10e9bad7dfeb",
        "37e4fa1e-635f-45b7-8e92-74402b5ae0c9",
        "79cc57c5-0664-4ee0-aeb6-ae1b31117df4",
        "0b1a496e-1674-4c13-b950-b320a904e37a",
        "12847aea-4ab5-4f88-97eb-d37c0ddc3603",
        "7a09f645-6e8c-4679-bb3e-f9c36c2843a5",
        "7e4dae7b-b70a-4e4e-9827-7651bd9676b8",
        "8ebf4620-125d-49ed-95cd-71697ef7571d",
        "76ae0e23-6865-4606-884e-abaaf1ebd022",
        "b8c26d23-fa60-47fc-9475-fed1e560f7f8",
        "81d61dc1-5628-4f7e-bff3-d0f129911637",
        "fa36a4a8-985f-49e5-ba57-de6a28c6bb7e",
        "c8e58f03-496d-40be-b3d3-4c5b994b9206",
        "858e442f-f033-40ea-aa91-cd6f7d702cec",
        "38ba733b-a705-45f6-a092-bc38e8474804",
        "e53229dd-bfde-4249-9597-beef46e4ea82",
        "15e287ff-2ad2-412b-9482-37ee0334fe83",
        "db6c81d5-5b6f-408e-af83-e3cdf4f43160",
        "fffa7627-531e-4067-8adb-1755a03fabfd",
        "033d07f8-bbbb-4145-8a75-894df9b13765",
        "80907633-d9e6-41bc-9d65-6b3bf5dfdfc9",
        "e38ace54-9dac-44f6-acc1-52ee36abb7a0",
        "2a6f1752-9f5f-4cfa-a86b-9f4dda42deff",
        "63c30455-007d-46df-9243-32c1cd94fc91",
        "8b5975a7-94ba-4547-85e7-081ee9aefa7d",
        "df11796a-e5be-42bc-9656-fcf0838a9f71",
        "1cdd65eb-011f-43aa-ae2d-98f5c80ad550",
        "26b2b110-ba88-4feb-afdb-3eee211b4ac4",
        "3b84d796-6b05-439e-9188-0bc32c1f782f",
        "11892c5f-cedb-4640-800f-d976aeb8b35a",
        "78873728-693e-4df3-a632-5314746ab54d",
        "c873372a-26ff-491f-b66f-99c263ae144d",
        "0deadda9-c3a3-4196-b3fd-28efbb401ec1",
        "bcd831c1-e325-4940-9b85-6dbde6d2d5b0",
        "c679c645-ea90-4d2a-be38-3a34efa59c87",
        "1c851237-0435-4b20-88e1-732bf24f2477",
        "b8915aa5-e494-4021-b859-28b9320b038f",
        "f802f4ea-96c3-48da-b6e7-58fdf3b86dd2",
        "95555ff8-f07b-4287-955a-558778e72491",
        "150487ee-f903-44d2-a584-631e63988694",
        "0bdc8096-17df-492b-afbe-bf01f5f5fd03",
        "a7854c21-c668-4bab-be89-0b468f10a99b",
        "f4a6286c-6ba7-4e1c-a557-a12d6a249a16",
        "e7715bf9-3725-4876-94dc-0729cd5cfae6",
        "171ee549-b0de-4618-95bd-8332b2248b9c",
        "951a4110-3e89-4341-a811-6508e44a2f09",
        "e9a5267f-cec5-4396-a623-c59a872bdfa9",
        "b7a19080-c819-4810-bc17-d5bc3e9d52a8",
        "c0172ea6-b8a1-44ff-b23f-42b5b287de71",
        "3e769615-a8b7-4b32-ad6f-917118faa8f6",
        "6c1ff75d-43d8-47c9-b87f-e66e2b49f322",
        "ef0aad84-fed0-40aa-bcee-e1367f4e6443",
        "de8b1ff6-7f83-46ee-8378-ef40f868ed2f",
        "e4262286-e636-4d51-8eb2-3fb034ff03dd",
        "caa8bd6c-019d-450a-9a03-a28c28e6848d",
        "84e1a37a-7335-4786-8b47-b4f8d89777bb",
        "1aba3e01-6894-4178-b7ae-5c015d737a90",
        "756d30c9-0c65-4063-a7c5-19959a28f6c6",
        "cc45cb56-639e-43f8-b191-ac7f17969440",
        "5dd9ec80-7677-4a5b-adbf-efaa6ed952f4",
        "33409ec0-a7b4-4556-a82a-a96324d547aa",
        "ef17bd9d-90f3-4adf-8704-0f8195d4a5a5",
        "f5ae6d0d-407a-4ed5-8f91-4b9133b604f4",
        "21d7bca8-30e8-4c6d-960a-3edb85cfea0e",
        "0fbc7f6f-3ac5-4e1d-8021-8d7c1f655057",
        "7d1d6c16-89e0-46b7-ab8f-f3fda338a538",
        "7f7b692d-288b-47fd-a193-584d41646383",
        "c1607500-4e98-4c14-8b76-6e32b8becf24",
        "0df17e8e-2156-4979-be42-bc257cbb14ed",
        "3aa0a3c8-5f7c-4ab2-80da-e5683e494af9",
        "5d9beed4-e2b1-4b6f-86a6-eb0e9fcaf128",
        "9a9ff2f5-ee25-452c-9cc1-7965ef0f5930",
        "fb747f06-89ef-4048-b909-1815262cade5",
        "e250003a-65e5-4fd0-b521-30a48cc7dff7",
        "73920a07-d96f-4159-a7bb-3aeba1793181",
        "1c908b0a-da03-4c0d-9b53-1ff4e6bc707a",
        "091585b8-077d-4df0-893d-5e63c1c6e244",
        "f75f657f-ed8c-4349-a154-30423fdefd45",
        "15dfcce1-ee83-4802-90d6-dc2798af5789",
        "599b45a5-105b-4d27-88b7-f444d8fc52f1",
        "fe62c268-a078-4f4d-98bf-50e3cb23f468",
        "e1182480-a783-46ab-9f2f-4707183fa4c9",
        "c4dc3a7b-d598-4fbc-889f-654e2021c0d2",
        "3acc33bb-2c20-49d6-92e4-0052ea876d9a",
        "f43772e0-dba9-4be0-8fc5-1ad1d922f701",
        "218fc7ce-16b4-4ae5-8714-42be1987e42d",
        "cda7aba0-63ce-44ec-aeba-77b25ea1afa7",
        "a7144983-20db-414b-ae01-4e612573602a",
        "cedb2b62-a5fd-4634-8eb5-1ac7dc4f70d0",
        "0196b437-2c83-42e5-bb4c-4485482c6822",
        "0f1d00ae-61b5-45a0-827b-6e18a448cfd6",
        "c7448cab-9d17-4641-add2-e51dbe4b4318",
        "4859a626-2aab-40c6-adb7-9ee2cfc3e8e8",
        "a99740e8-4583-43dd-9905-5f6b8c46ffaa",
        "c9d16c77-31bd-4c7f-b4ac-ef9cd1c8a177",
        "d67fa37c-af1f-4173-94f1-01526a783602",
        "ee89d056-84cc-4124-849f-703cf0c2a3b4",
        "3e96afea-0ad5-47e2-a743-966542525b22",
        "9ce58635-f003-4db0-804b-1b16e712b8e7",
        "9bf2f8f2-b075-44a3-a888-4e309e7587c4",
        "4b75ee63-7f83-482f-9b0b-7a7c18a61d28",
        "f394504a-5feb-4e85-8a3f-79b472ba7a3a",
        "26f7276c-83d8-442d-85c6-c69f78036e63",
        "da08c62b-823c-4618-aef4-bfb57376c696",
        "d1b642c9-1053-4944-983e-f0d86f4d9099",
        "0ca3d25a-1c0e-4d3e-8efb-37a819ee2a0f",
        "547f3773-d293-4207-80b4-0f6351e28434",
        "0b142e1d-1d3c-4ac6-ae91-a0f9301545b5",
        "75408db4-68e6-481b-bc75-4172b8822092",
        "cc2c1b37-1deb-4e0f-b842-de3aec13318a",
        "5152d05b-f1bf-4bc1-a01f-c5fbf72aaea6",
        "c8802e2a-3df7-41de-9a5e-1b7d19e00248",
        "0a185143-0cea-4a74-825b-d3cef800a640",
        "8fa5f100-afae-4e73-bb71-ea6092f72341",
        "64cde76c-c663-479a-9876-a668ad71a797",
        "84d42005-0c36-4a2a-917e-1266526d1705",
        "5f0b3aa9-3238-4204-a105-2f331a868181",
        "da434c73-db5c-484d-a677-5ae20358ca76",
        "26d4403b-dbe5-4c2e-a9bc-930a53e07aba",
        "44c890b5-7d73-49d8-8dfa-d79b0942def0",
        "711fa411-00cb-4ba3-8668-bf176bd859ab",
        "4524d906-527d-4ef3-93c0-be36b919fd1a",
        "556c32a7-367d-48f7-a6b5-5ca324e68070",
        "5fbe1a5c-d929-454e-badc-fe3df601ee8c",
        "bfff4edc-ba87-44da-93f5-00e44be581dd",
        "3c1fe4bb-4333-4d40-9be7-351a198666f0",
        "bd20d9be-4610-4ebc-9250-c981d76b4b3b",
        "2516297f-0ae7-4dee-87b5-58e91f202921",
        "0151e30a-3e37-4b91-a481-3aef609115f2",
        "4a5a2709-fe52-4f13-9375-0f9b3b082fb3",
        "a26a0ffe-37ee-4d9c-b94e-f2a803ee6210",
        "6db589c1-e284-4cec-a29a-c9f97ecaacfc",
        "4b94596c-e6ab-4957-a51e-424f5fd7d399",
        "35e44203-0009-4a78-95fc-ea3b4cb23549",
        "4f7ce22a-5d17-469d-85c6-39cbe4472d9a",
        "62be51e9-ae29-4fcb-a8bf-83c0a6098b1c",
        "c3a21b0c-1da9-4d5f-b9a0-315491c7810a",
        "12d42077-6fb2-4a4b-a36f-4ff821037b36",
        "9ed747c7-d6f7-4724-aa4f-16240807303e",
        "25a6bbf9-c841-4b6f-b2a5-df691983495c",
        "75cf2090-8010-41f9-a875-0454c7004cb5",
        "5d1ca523-b6a9-4d11-bde6-bb062bd8367f",
        "7c81d9d1-725a-4a45-869f-ad70268f718d",
        "67c6b6f2-7f32-4c9f-9864-6051cc8835fb",
        "09cff6b3-9671-45a8-af3b-ca20088f2586",
        "2a118c01-5765-4377-b36c-4df431ab52af",
        "d9de19a9-6805-4c23-9908-2a7640ae3369",
        "54340881-72e8-4a45-a224-cf450b039acd",
        "c554999f-0c7d-4a3f-95f4-d7a4fa969ca6",
        "3e816e0e-89ac-4dbd-9624-978f443900c4",
        "ea805053-6541-4686-905b-4ece974be664",
        "ca66e317-031e-405f-a5b1-0d3ddaefe0d1",
        "3a3dfe73-8bae-4a3f-baca-cf930e8c1221",
        "e3d4adf4-be12-4f75-86ca-91a87ade532f",
        "75362e37-1437-4cd9-a6fc-0cfc22de5727",
        "0fa83c7d-805d-4a80-8c53-fbe2a68655e1",
        "9bdab01b-84a8-4ff8-9959-27dc9a2562cf",
        "589452a6-8f08-4cff-9234-aa7f55d844ea",
        "b6eade71-d5a6-423e-a541-700bd3b38d36",
        "1ff35bda-1b89-4d42-9ef9-9b63216f0c6e",
        "36cddd80-5c12-41db-8dda-2921db125158",
        "92a815fa-1202-4731-9775-32db72f32a87",
        "c4a0a991-a2df-417c-a79b-02bb87306c56",
        "7dae92a1-2662-45db-ae95-e40118f9f3ef",
        "12f44c0a-799a-48d7-8a8b-c085f2e9a8b8",
        "3d021214-ae2b-4ab1-aad4-ef6292caeaf0",
        "cf93dcbb-ae94-4779-aab1-3b013eb958c4",
        "26e8244a-cb97-49b7-a327-33c5248993e6",
        "9b90f3e9-0180-4e31-9bcb-62e27543b4d9",
        "19178392-e04f-4509-946f-1a8ccc62b2c5",
        "8f367877-5395-44f1-803c-b8f8a260dd4e",
        "f2388894-500a-4744-97e1-73e12a93a7c0",
        "a8c8a100-962d-45b4-9aec-4c78feda4403",
        "80d1b2b4-460e-4d77-be70-c59b05f6d7c0",
        "82fc564d-e30d-4e5a-92ac-237a5b723ed0",
        "2c4caa95-402d-4433-ba22-3d5c155323ca",
        "6f0b8a08-0379-42ce-a58a-ec6804cac3ac",
        "58b3d4f1-a51c-4dc9-a3a6-944b83c9e52c",
        "17e2732d-5894-4441-8c2a-0631a17240e8",
        "676582f3-f4e9-4349-a68a-b448f82a4a38",
        "cae527ff-83b1-49e7-a5c2-68c5276a6ca3",
        "aa83d35a-7ef3-4214-9592-864b78a4cf05",
        "e6a82588-ac78-459e-a352-7e74f6f39246",
        "b14ed3aa-a1d9-4b32-99a1-70a7d9f81791",
        "7b07adaf-4b42-46e4-9064-0f7cc266b026",
        "e5b9d402-e0b5-40fe-847b-54a777d5ca6b",
        "9a939e5b-3c7a-4b32-8814-04803bbaf92f",
        "4a319f01-9f25-43c8-ad15-1cbb5da30036",
        "919c1b41-3477-44ca-981f-643451f98b03",
        "d5ba3b7a-4d79-43c0-b2a0-5f4fbfe28c29",
        "91dbd572-df92-4552-b71a-5526bb110209",
        "9afa8be0-d5b4-40ee-9059-420016dfd92e",
        "f4177946-906b-44b2-a185-c9b87d40c2f9",
        "433ab137-425d-4546-902f-c907bec9a815",
        "fe2b3078-afb9-4729-b6e4-7f5ce65fa7f5",
        "13fdc64e-8008-4a69-a699-68a427e61b65",
        "2a91bc13-33e0-4b56-b87f-21ec98ef680e",
        "a4279db0-c672-43eb-936e-467fd9b265c4",
        "0324014b-5ed6-4057-8735-fd4578534026",
        "c68580ff-132d-4a73-8560-5b19be1f9f49",
        "9f251d45-e307-4d11-905d-6176633493a1",
        "1f1e717a-d218-4a94-837f-56ab259662ac",
        "5eeba202-a750-4071-959f-007eb2bb2b42",
        "51cfa200-fd0f-4931-a4eb-4af652db74dd",
        "b2def593-5f09-4726-9755-df836a352ad9",
        "474a7362-214a-42ea-b4e6-ecad0f3babf4",
        "9bd9ab17-7d36-41ca-8b06-eb8b16d73173",
        "fc487f1a-ee86-4240-948b-0cba9727fe16"
      ]
    }
  },
  "pinData": {},
  "versionId": "817a0834-3891-4de2-81a7-7a04b526ff07",
  "triggerCount": 1,
  "tags": []
}