workflows/Уведомление о заявках из vsDesk.json
{
  "createdAt": "2022-09-13T03:22:39.759Z",
  "updatedAt": "2022-12-05T09:00:36.000Z",
  "id": 1,
  "name": "Уведомление о заявках из vsDesk",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "unit": "minutes"
      },
      "id": "b3ed13ca-dec8-4dc3-ab6a-fc1963af446f",
      "name": "Интервал (выполняется каждую минуту)",
      "type": "n8n-nodes-base.interval",
      "typeVersion": 1,
      "position": [
        280,
        180
      ]
    },
    {
      "parameters": {},
      "id": "cf96d762-b142-41f0-9bbf-87ad32c7d5a6",
      "name": "Начало (он же ручной запуск)",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        280,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "dateTime": [
            {
              "value1": "={{DateTime.now()}}",
              "value2": "={{DateTime.now().set({ hour: 8, minute: 0, second: 0, millisecond: 0 })}}"
            },
            {
              "value1": "={{DateTime.now()}}",
              "operation": "before",
              "value2": "={{DateTime.now().set({ hour: 18, minute: 0, second: 0, millisecond: 0 })}}"
            }
          ],
          "number": [
            {
              "value1": "={{DateTime.now().weekday}}",
              "value2": 6
            }
          ]
        }
      },
      "id": "5574ec91-3c0f-454a-93a8-55f8fe3dbeca",
      "name": "Сейчас рабочее время?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {},
      "id": "be04cf8b-bda2-432e-b2b6-40b736121f78",
      "name": "Ничего не делать",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        860,
        440
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "url": "=https://help.knp24.ru/api/requests",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "timestamp",
              "value": "=>{{DateTime.now().minus({ months: 1 }).toFormat('yyyy-MM-dd') }}"
            },
            {
              "name": "gfullname",
              "value": "Группа системного администрирования"
            }
          ]
        }
      },
      "id": "71501525-c67a-40be-8455-f92b11a608dd",
      "name": "Получение списка заявок из vsDesk",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        860,
        200
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "1",
          "name": "КНП"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Code here will run only once, no matter how many input items there are.\n// More info and help: https://docs.n8n.io/nodes/n8n-nodes-base.function\n// Tip: You can use luxon for dates and $jmespath for querying JSON structures\n\nconst current = [];\nfor(let i = 0; i < items[0].json.length; i++) {\n  if(items[0].json[i].Status === \"Завершена\" || items[0].json[i].Status === \"Отменена\") {\n    continue;\n  }\n  current.push({\n    id: items[0].json[i].id,\n    user: items[0].json[i].fullname,\n    creator: items[0].json[i].creator,\n    group: items[0].json[i].gfullname,\n    timestamp: items[0].json[i].timestamp,\n    name: items[0].json[i].Name.replaceAll('\"', ''),\n    status: items[0].json[i].Status,\n    executor: items[0].json[i].mfullname,\n    priority: items[0].json[i].Priority === \"Высокий\" ? 5 : 3,\n    link: `https://help.knp24.ru/request/${items[0].json[i].id}`\n  })\n}\n\nlet updates = [];\nconst staticData = getWorkflowStaticData('node');\n\nif(!staticData.lastExecution || ! (staticData.lastExecution instanceof Array)) {\n  updates = JSON.parse(JSON.stringify(current));\n  updates.forEach(request => {\n    request.type = \"new\";\n  });\n }\nelse {\n  current.forEach(request => {\n    const index = staticData.lastExecution.findIndex(element => request.id === element.id);\n    if (request.status === \"Открыта повторно\") {\n      if (index !== -1 && request.status === staticData.lastExecution[index].status) {\n        return;\n      }\n      updates.push(JSON.parse(JSON.stringify(request)))\n      updates[updates.length - 1].type = \"reopened\";\n      return;\n    }\n    if (index === -1) {\n      updates.push(JSON.parse(JSON.stringify(request)))\n      updates[updates.length - 1].type = \"new\";\n      return;\n    }\n    if (index !== -1 && request.status === \"Просрочена реакция\") {\n      if (request.status === staticData.lastExecution[index].status) {\n        return;\n      }\n      updates.push(JSON.parse(JSON.stringify(request)))\n      updates[updates.length - 1].type = \"reactionTimeout\";\n      return;\n    }\n    if (index !== -1 && request.status === \"Просрочено исполнение\") {\n      if (request.status === staticData.lastExecution[index].status) {\n        return;\n      }\n      updates.push(JSON.parse(JSON.stringify(request)))\n      updates[updates.length - 1].type = \"executionTimeout\";\n      return;\n    }\n  });\n}\nstaticData.lastExecution = JSON.parse(JSON.stringify(current));\nreturn updates;"
      },
      "id": "b8ed8c0b-42d7-429e-8f2c-32acb3a76ffc",
      "name": "diff и сохранение текущего списка заявок",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1100,
        200
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "requestMethod": "POST",
        "url": "https://ntfy.shitnsticks.top/",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "raw"
        },
        "bodyParametersJson": "={\n  \"topic\": \"vsdesk\",\n  \"title\": \"Новая заявка\",\n  \"priority\": {{$json[\"priority\"]}},\n  \"message\": \"Название: {{$json[\"name\"]}}\\nID: {{$json[\"id\"]}}\\nСоздатель: {{$json[\"creator\"]}}\",\n \"click\": \"{{$json[\"link\"]}}\" \n}"
      },
      "id": "24e6ca15-2eee-4044-9624-34690334f58c",
      "name": "Уведомить о новой заявке",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1800,
        20
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "Ntfy admin"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$node[\"diff и сохранение текущего списка заявок\"].json[\"type\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "new"
            },
            {
              "value2": "reactionTimeout",
              "output": 1
            },
            {
              "value2": "executionTimeout",
              "output": 2
            },
            {
              "value2": "reopened",
              "output": 3
            }
          ]
        }
      },
      "id": "8a6a8bac-9068-4e7b-ad80-3ccee497437e",
      "name": "Распределение заявок по типам",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1300,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"name\"]}}",
              "operation": "startsWith",
              "value2": "[Main PRTG]"
            },
            {
              "value1": "={{$json[\"name\"]}}",
              "operation": "startsWith",
              "value2": "[PRTG Ticket]"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "53594708-e812-4051-8892-08787d9b7ecf",
      "name": "Заявка из PRTG?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1480,
        -60
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "requestMethod": "POST",
        "url": "https://ntfy.shitnsticks.top/",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "raw"
        },
        "bodyParametersJson": "={\n\"topic\": \"vsdesk\",\n\"title\": \"Новая заявка из PRTG\",\n\"priority\": 2,\n\"message\": \"Название: {{$json[\"name\"]}}\\nID: {{$json[\"id\"]}}\",\n \"click\": \"{{$json[\"link\"]}}\" \n}"
      },
      "id": "4f84d508-6234-449a-9ae0-bad807df253a",
      "name": "Уведомить о новой заявке из PRTG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1800,
        -200
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "Ntfy admin"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "requestMethod": "POST",
        "url": "https://ntfy.shitnsticks.top/",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "raw"
        },
        "bodyParametersJson": "={\n\"topic\": \"vsdesk\",\n\"title\": \"Просрочилась реакция по заявке {{$json[\"id\"]}}\",\n\"priority\": 4,\n\"message\": \"Название: {{$json[\"name\"]}}\\nСоздатель: {{$json[\"creator\"]}}\",\n\"click\": \"{{$json[\"link\"]}}\"\n}"
      },
      "id": "49af3f71-0e07-42a9-9373-c150ec166f30",
      "name": "Уведомить о просроченной реакции по заявке",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1800,
        240
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "Ntfy admin"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "requestMethod": "POST",
        "url": "https://ntfy.shitnsticks.top/",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "raw"
        },
        "bodyParametersJson": "={\n\"topic\": \"vsdesk\",\n\"title\": \"Просрочилась заявка {{$json[\"id\"]}}\",\n\"priority\": 5,\n\"message\": \"Название: {{$json[\"name\"]}}\\nСоздатель: {{$json[\"creator\"]}}\",\n\"click\": \"{{$json[\"link\"]}}\"\n}"
      },
      "id": "d07fb0f8-fcb5-499f-9e87-e25bb75ec14a",
      "name": "Уведомить о просроченной заявке",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1800,
        460
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "Ntfy admin"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "requestMethod": "POST",
        "url": "https://ntfy.shitnsticks.top/",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "raw"
        },
        "bodyParametersJson": "={\n\"topic\": \"vsdesk\",\n\"title\": \"Заявку {{$json[\"id\"]}} вернули в работу\",\n\"priority\": 5,\n\"message\": \"Название: {{$json[\"name\"]}}\\nСоздатель: {{$json[\"creator\"]}}\",\n\"click\": \"{{$json[\"link\"]}}\"\n}"
      },
      "id": "cf1bd755-3ae1-401c-a3c7-da271c2ec9b6",
      "name": "Уведомить об открытой заново заявке",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1800,
        680
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "Ntfy admin"
        }
      }
    }
  ],
  "connections": {
    "Начало (он же ручной запуск)": {
      "main": [
        [
          {
            "node": "Сейчас рабочее время?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Интервал (выполняется каждую минуту)": {
      "main": [
        [
          {
            "node": "Сейчас рабочее время?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сейчас рабочее время?": {
      "main": [
        [
          {
            "node": "Получение списка заявок из vsDesk",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ничего не делать",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получение списка заявок из vsDesk": {
      "main": [
        [
          {
            "node": "diff и сохранение текущего списка заявок",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "diff и сохранение текущего списка заявок": {
      "main": [
        [
          {
            "node": "Распределение заявок по типам",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Распределение заявок по типам": {
      "main": [
        [
          {
            "node": "Заявка из PRTG?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Уведомить о просроченной реакции по заявке",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Уведомить о просроченной заявке",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Уведомить об открытой заново заявке",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Заявка из PRTG?": {
      "main": [
        [
          {
            "node": "Уведомить о новой заявке из PRTG",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Уведомить о новой заявке",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveExecutionProgress": "DEFAULT"
  },
  "staticData": {
    "node:diff и сохранение текущего списка заявок": {
      "lastExecution": [
        {
          "id": "228437",
          "user": "Скрупская Вера Николаевна",
          "creator": "Скрупская Вера Николаевна",
          "group": "Группа системного администрирования",
          "timestamp": "2022-12-05 15:51:04",
          "name": "прошу подключить программу WinScan2PDF к МФУ  - sev-prodazhi4. т. 8-391-45-6-04-46",
          "status": "Открыта",
          "executor": null,
          "priority": 3,
          "link": "https://help.knp24.ru/request/228437"
        },
        {
          "id": "228436",
          "user": "Кадочников Андрей Викторович",
          "creator": "Кадочников Андрей Викторович",
          "group": "Группа системного администрирования",
          "timestamp": "2022-12-05 15:41:55",
          "name": "Необходима новая АКБ для ноутбука",
          "status": "Открыта",
          "executor": null,
          "priority": 3,
          "link": "https://help.knp24.ru/request/228436"
        },
        {
          "id": "228432",
          "user": "Степанова Юлия Валерьевна",
          "creator": "Степанова Юлия Валерьевна",
          "group": "Группа системного администрирования",
          "timestamp": "2022-12-05 15:23:47",
          "name": "подключить программу  WinScan2PDF  к МФУ ",
          "status": "Открыта",
          "executor": null,
          "priority": 5,
          "link": "https://help.knp24.ru/request/228432"
        },
        {
          "id": "228430",
          "user": "Якушев Сергей Викторович",
          "creator": "Якушев Сергей Викторович",
          "group": "Группа системного администрирования",
          "timestamp": "2022-12-05 15:09:41",
          "name": "В 1с УАТ при списании не учитывается коэфициент на изменения собственного веса",
          "status": "Открыта",
          "executor": null,
          "priority": 5,
          "link": "https://help.knp24.ru/request/228430"
        },
        {
          "id": "228417",
          "user": "Климас Татьяна Игоревна",
          "creator": "Климас Татьяна Игоревна",
          "group": "Группа системного администрирования",
          "timestamp": "2022-12-05 13:37:46",
          "name": "Принтер",
          "status": "Просрочена реакция",
          "executor": null,
          "priority": 3,
          "link": "https://help.knp24.ru/request/228417"
        },
        {
          "id": "228415",
          "user": "Игнатова Оксана Николаевна",
          "creator": "Игнатова Оксана Николаевна",
          "group": "Группа системного администрирования",
          "timestamp": "2022-12-05 13:36:43",
          "name": "Прошу добавить пользователя Игнатова О.Н. в тестовую базу документооборот",
          "status": "Просрочена реакция",
          "executor": null,
          "priority": 3,
          "link": "https://help.knp24.ru/request/228415"
        },
        {
          "id": "228404",
          "user": "Автушко Анна Викторовна",
          "creator": "Автушко Анна Викторовна",
          "group": "Группа системного администрирования",
          "timestamp": "2022-12-05 12:49:28",
          "name": "Предоставление доступа в тестовую базу 1С Документооборот",
          "status": "Просрочена реакция",
          "executor": null,
          "priority": 3,
          "link": "https://help.knp24.ru/request/228404"
        },
        {
          "id": "228391",
          "user": "Цветковская Юлия Геннадьевна",
          "creator": "Цветковская Юлия Геннадьевна",
          "group": "Группа системного администрирования",
          "timestamp": "2022-12-05 11:32:43",
          "name": "Нужен доступ в 1С Документооборот",
          "status": "Просрочена реакция",
          "executor": null,
          "priority": 3,
          "link": "https://help.knp24.ru/request/228391"
        },
        {
          "id": "228389",
          "user": "Гевейлер Яна Валерьевна",
          "creator": "Гевейлер Яна Валерьевна",
          "group": "Группа системного администрирования",
          "timestamp": "2022-12-05 11:22:15",
          "name": "Доступ к 1С Тестовая документооборот",
          "status": "Просрочена реакция",
          "executor": null,
          "priority": 3,
          "link": "https://help.knp24.ru/request/228389"
        },
        {
          "id": "228383",
          "user": "Наумова Татьяна Ивановна",
          "creator": "Наумова Татьяна Ивановна",
          "group": "Группа системного администрирования",
          "timestamp": "2022-12-05 11:02:25",
          "name": "Предоставление доступа в тестовую базу 1С Документооборот",
          "status": "Просрочена реакция",
          "executor": null,
          "priority": 3,
          "link": "https://help.knp24.ru/request/228383"
        },
        {
          "id": "228377",
          "user": "Кириченко Лариса Николаевна",
          "creator": "Кириченко Лариса Николаевна",
          "group": "Группа системного администрирования",
          "timestamp": "2022-12-05 10:54:44",
          "name": "Прошу предоставить доступ в тестовую базу 1С:Документооборот",
          "status": "Просрочено исполнение",
          "executor": null,
          "priority": 5,
          "link": "https://help.knp24.ru/request/228377"
        },
        {
          "id": "228376",
          "user": "Пикарская Людмила Сергеевна",
          "creator": "Пикарская Людмила Сергеевна",
          "group": "Группа системного администрирования",
          "timestamp": "2022-12-05 10:54:21",
          "name": "Прошу предоставить доступ в тестовую базу 1С Документооборот",
          "status": "Просрочено исполнение",
          "executor": null,
          "priority": 5,
          "link": "https://help.knp24.ru/request/228376"
        },
        {
          "id": "228366",
          "user": "Гладкова Наталья Александровна",
          "creator": "Гладкова Наталья Александровна",
          "group": "Группа системного администрирования",
          "timestamp": "2022-12-05 10:27:35",
          "name": "Работа программы 1С ERP тестовая",
          "status": "Просрочено исполнение",
          "executor": null,
          "priority": 5,
          "link": "https://help.knp24.ru/request/228366"
        },
        {
          "id": "228358",
          "user": "Тур Елена Владимировна",
          "creator": "Тур Елена Владимировна",
          "group": "Группа системного администрирования",
          "timestamp": "2022-12-05 10:06:42",
          "name": "Предоставление доступа в тестовую базу 1С Документооборот.",
          "status": "Просрочена реакция",
          "executor": null,
          "priority": 3,
          "link": "https://help.knp24.ru/request/228358"
        },
        {
          "id": "228357",
          "user": "Рыбалка Владислав Владимирович",
          "creator": "Рыбалка Владислав Владимирович",
          "group": "Группа системного администрирования",
          "timestamp": "2022-12-05 10:04:10",
          "name": "предоставление доступа в тестовую базу 1С Документооборот",
          "status": "Просрочена реакция",
          "executor": null,
          "priority": 3,
          "link": "https://help.knp24.ru/request/228357"
        },
        {
          "id": "228353",
          "user": "Косович Дина Юрьевна",
          "creator": "Косович Дина Юрьевна",
          "group": "Группа системного администрирования",
          "timestamp": "2022-12-05 09:55:22",
          "name": "Предоставление доступа в тестовую базу 1С: Документооборот",
          "status": "Просрочена реакция",
          "executor": null,
          "priority": 3,
          "link": "https://help.knp24.ru/request/228353"
        },
        {
          "id": "228345",
          "user": "Старцев Олег Валерьевич",
          "creator": "Старцев Олег Валерьевич",
          "group": "Группа системного администрирования",
          "timestamp": "2022-12-05 09:33:28",
          "name": "О доступе в тестовую базу 1С ДО для Управления РиОП",
          "status": "Принята в исполнение",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/228345"
        },
        {
          "id": "228251",
          "user": "Коробицын Юрий Владимирович",
          "creator": "Коробицын Юрий Владимирович",
          "group": "Группа системного администрирования",
          "timestamp": "2022-12-04 22:19:04",
          "name": "проблема подключения к рабочему ПК через удаленный доступ ",
          "status": "Принята в исполнение",
          "executor": "Бернаучис Андрей Робертович",
          "priority": 3,
          "link": "https://help.knp24.ru/request/228251"
        },
        {
          "id": "226072",
          "user": "Замятин Константин Георгиевич",
          "creator": "Замятин Константин Георгиевич",
          "group": "Группа системного администрирования",
          "timestamp": "2022-11-21 09:12:24",
          "name": "Некорректный урл в некстклауде",
          "status": "Просрочено исполнение",
          "executor": null,
          "priority": 3,
          "link": "https://help.knp24.ru/request/226072"
        },
        {
          "id": "225571",
          "user": "Колмаков Василий Александрович",
          "creator": "Колмаков Василий Александрович",
          "group": "Группа системного администрирования",
          "timestamp": "2022-11-17 09:51:44",
          "name": "не работает видеокамера в помещении охраны",
          "status": "Логистика",
          "executor": null,
          "priority": 5,
          "link": "https://help.knp24.ru/request/225571"
        },
        {
          "id": "225432",
          "user": "Шепилев Сергей Александрович",
          "creator": "Шепилев Сергей Александрович",
          "group": "Группа системного администрирования",
          "timestamp": "2022-11-16 11:46:41",
          "name": "Удаленное подключение к АРМ АСКДК на Канской НБ",
          "status": "Принята в исполнение",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/225432"
        },
        {
          "id": "225416",
          "user": "Шепилев Сергей Александрович",
          "creator": "Шепилев Сергей Александрович",
          "group": "Группа системного администрирования",
          "timestamp": "2022-11-16 11:12:49",
          "name": "Удаленное подключение к АРМ АСКДК на Абалаковской НБ",
          "status": "Принята в исполнение",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/225416"
        },
        {
          "id": "225414",
          "user": "Шепилев Сергей Александрович",
          "creator": "Шепилев Сергей Александрович",
          "group": "Группа системного администрирования",
          "timestamp": "2022-11-16 11:06:10",
          "name": "Удаленное подключение к АРМ АСКДК на Мотыгинской НБ",
          "status": "Принята в исполнение",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/225414"
        },
        {
          "id": "224307",
          "user": "Коробицына Анастасия Николаевна",
          "creator": "Коробицына Анастасия Николаевна",
          "group": "Группа системного администрирования",
          "timestamp": "2022-11-09 01:23:29",
          "name": "статус заявок ",
          "status": "Требует уточнения",
          "executor": null,
          "priority": 3,
          "link": "https://help.knp24.ru/request/224307"
        },
        {
          "id": "224022",
          "user": "АСН",
          "creator": "Коробицына Анастасия Николаевна",
          "group": "Группа системного администрирования",
          "timestamp": "2022-11-07 12:13:45",
          "name": " заменить клавиатуру (АСН Канская нефтебаза) ",
          "status": "Логистика",
          "executor": null,
          "priority": 3,
          "link": "https://help.knp24.ru/request/224022"
        }
      ]
    }
  },
  "pinData": {},
  "tags": []
}