workflows/Уведомление о заявках из vsDesk.json
{
  "createdAt": "2022-09-13T03:22:39.759Z",
  "updatedAt": "2023-06-06T09:00:15.000Z",
  "id": "1",
  "name": "Уведомление о заявках из vsDesk",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "unit": "minutes"
      },
      "id": "b3ed13ca-dec8-4dc3-ab6a-fc1963af446f",
      "name": "Интервал (выполняется каждую минуту)",
      "type": "n8n-nodes-base.interval",
      "typeVersion": 1,
      "position": [
        280,
        180
      ]
    },
    {
      "parameters": {},
      "id": "cf96d762-b142-41f0-9bbf-87ad32c7d5a6",
      "name": "Начало (он же ручной запуск)",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        280,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "dateTime": [
            {
              "value1": "={{DateTime.now()}}",
              "value2": "={{DateTime.now().set({ hour: 7, minute: 30, second: 0, millisecond: 0 })}}"
            },
            {
              "value1": "={{DateTime.now()}}",
              "operation": "before",
              "value2": "={{DateTime.now().set({ hour: 17, minute: 30, second: 0, millisecond: 0 })}}"
            }
          ],
          "number": [
            {
              "value1": "={{DateTime.now().weekday}}",
              "value2": 6
            }
          ]
        }
      },
      "id": "5574ec91-3c0f-454a-93a8-55f8fe3dbeca",
      "name": "Сейчас рабочее время?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {},
      "id": "be04cf8b-bda2-432e-b2b6-40b736121f78",
      "name": "Ничего не делать",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        860,
        440
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "url": "=https://help.knp24.ru/api/requests",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "timestamp",
              "value": "=>{{DateTime.now().minus({ months: 1 }).toFormat('yyyy-MM-dd') }}"
            },
            {
              "name": "gfullname",
              "value": "Группа системного администрирования"
            }
          ]
        }
      },
      "id": "71501525-c67a-40be-8455-f92b11a608dd",
      "name": "Получение списка заявок из vsDesk",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        860,
        200
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "1",
          "name": "КНП"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Code here will run only once, no matter how many input items there are.\n// More info and help: https://docs.n8n.io/nodes/n8n-nodes-base.function\n// Tip: You can use luxon for dates and $jmespath for querying JSON structures\n\nconst current = [];\nfor(let i = 0; i < items[0].json.length; i++) {\n  if(items[0].json[i].Status === \"Завершена\" || items[0].json[i].Status === \"Отменена\") {\n    continue;\n  }\n  current.push({\n    id: items[0].json[i].id,\n    user: items[0].json[i].fullname,\n    creator: items[0].json[i].creator,\n    group: items[0].json[i].gfullname,\n    timestamp: items[0].json[i].timestamp,\n    name: items[0].json[i].Name.replaceAll(/[\"'«»]/g, ''),\n    status: items[0].json[i].Status,\n    executor: items[0].json[i].mfullname,\n    priority: items[0].json[i].Priority === \"Высокий\" ? 5 : 3,\n    link: `https://help.knp24.ru/request/${items[0].json[i].id}`\n  })\n}\n\nlet updates = [];\nconst staticData = getWorkflowStaticData('node');\n\nif(!staticData.lastExecution || ! (staticData.lastExecution instanceof Array)) {\n  updates = JSON.parse(JSON.stringify(current));\n  updates.forEach(request => {\n    request.type = \"new\";\n  });\n }\nelse {\n  current.forEach(request => {\n    const index = staticData.lastExecution.findIndex(element => request.id === element.id);\n    if (request.status === \"Открыта повторно\") {\n      if (index !== -1 && request.status === staticData.lastExecution[index].status) {\n        return;\n      }\n      updates.push(JSON.parse(JSON.stringify(request)))\n      updates[updates.length - 1].type = \"reopened\";\n      return;\n    }\n    if (index === -1) {\n      updates.push(JSON.parse(JSON.stringify(request)))\n      updates[updates.length - 1].type = \"new\";\n      return;\n    }\n    if (index !== -1 && request.status === \"Просрочена реакция\") {\n      if (request.status === staticData.lastExecution[index].status) {\n        return;\n      }\n      updates.push(JSON.parse(JSON.stringify(request)))\n      updates[updates.length - 1].type = \"reactionTimeout\";\n      return;\n    }\n    if (index !== -1 && request.status === \"Просрочено исполнение\") {\n      if (request.status === staticData.lastExecution[index].status) {\n        return;\n      }\n      updates.push(JSON.parse(JSON.stringify(request)))\n      updates[updates.length - 1].type = \"executionTimeout\";\n      return;\n    }\n  });\n}\nstaticData.lastExecution = JSON.parse(JSON.stringify(current));\nreturn updates;"
      },
      "id": "b8ed8c0b-42d7-429e-8f2c-32acb3a76ffc",
      "name": "diff и сохранение текущего списка заявок",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1100,
        200
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "requestMethod": "POST",
        "url": "https://ntfy.shitnsticks.top/",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "raw"
        },
        "bodyParametersJson": "={\n  \"topic\": \"vsdesk\",\n  \"title\": \"Новая заявка\",\n  \"priority\": {{$json[\"priority\"]}},\n  \"message\": \"Название: {{$json[\"name\"]}}\\nID: {{$json[\"id\"]}}\\nСоздатель: {{$json[\"creator\"]}}\",\n \"click\": \"{{$json[\"link\"]}}\" \n}"
      },
      "id": "24e6ca15-2eee-4044-9624-34690334f58c",
      "name": "Уведомить о новой заявке",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1800,
        20
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "Ntfy admin"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$node[\"diff и сохранение текущего списка заявок\"].json[\"type\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "new"
            },
            {
              "value2": "reactionTimeout",
              "output": 1
            },
            {
              "value2": "executionTimeout",
              "output": 2
            },
            {
              "value2": "reopened",
              "output": 3
            }
          ]
        }
      },
      "id": "8a6a8bac-9068-4e7b-ad80-3ccee497437e",
      "name": "Распределение заявок по типам",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1300,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"name\"]}}",
              "operation": "startsWith",
              "value2": "[Main PRTG]"
            },
            {
              "value1": "={{$json[\"name\"]}}",
              "operation": "startsWith",
              "value2": "[PRTG Ticket]"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "53594708-e812-4051-8892-08787d9b7ecf",
      "name": "Заявка из PRTG?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1480,
        -60
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "requestMethod": "POST",
        "url": "https://ntfy.shitnsticks.top/",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "raw"
        },
        "bodyParametersJson": "={\n\"topic\": \"vsdesk\",\n\"title\": \"Новая заявка из PRTG\",\n\"priority\": 2,\n\"message\": \"Название: {{$json[\"name\"]}}\\nID: {{$json[\"id\"]}}\",\n\"click\": \"{{$json[\"link\"]}}\" \n}"
      },
      "id": "4f84d508-6234-449a-9ae0-bad807df253a",
      "name": "Уведомить о новой заявке из PRTG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1800,
        -200
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "Ntfy admin"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "requestMethod": "POST",
        "url": "https://ntfy.shitnsticks.top/",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "raw"
        },
        "bodyParametersJson": "={\n\"topic\": \"vsdesk\",\n\"title\": \"Просрочилась реакция по заявке {{$json[\"id\"]}}\",\n\"priority\": 4,\n\"message\": \"Название: {{$json[\"name\"]}}\\nСоздатель: {{$json[\"creator\"]}}\",\n\"click\": \"{{$json[\"link\"]}}\"\n}"
      },
      "id": "49af3f71-0e07-42a9-9373-c150ec166f30",
      "name": "Уведомить о просроченной реакции по заявке",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1800,
        240
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "Ntfy admin"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "requestMethod": "POST",
        "url": "https://ntfy.shitnsticks.top/",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "raw"
        },
        "bodyParametersJson": "={\n\"topic\": \"vsdesk\",\n\"title\": \"Просрочилась заявка {{$json[\"id\"]}}\",\n\"priority\": 5,\n\"message\": \"Название: {{$json[\"name\"]}}\\nСоздатель: {{$json[\"creator\"]}}\",\n\"click\": \"{{$json[\"link\"]}}\"\n}"
      },
      "id": "d07fb0f8-fcb5-499f-9e87-e25bb75ec14a",
      "name": "Уведомить о просроченной заявке",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1800,
        460
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "Ntfy admin"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "requestMethod": "POST",
        "url": "https://ntfy.shitnsticks.top/",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "raw"
        },
        "bodyParametersJson": "={\n\"topic\": \"vsdesk\",\n\"title\": \"Заявку {{$json[\"id\"]}} вернули в работу\",\n\"priority\": 5,\n\"message\": \"Название: {{$json[\"name\"]}}\\nСоздатель: {{$json[\"creator\"]}}\",\n\"click\": \"{{$json[\"link\"]}}\"\n}"
      },
      "id": "cf1bd755-3ae1-401c-a3c7-da271c2ec9b6",
      "name": "Уведомить об открытой заново заявке",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1800,
        680
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "Ntfy admin"
        }
      }
    }
  ],
  "connections": {
    "Начало (он же ручной запуск)": {
      "main": [
        [
          {
            "node": "Сейчас рабочее время?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Интервал (выполняется каждую минуту)": {
      "main": [
        [
          {
            "node": "Сейчас рабочее время?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сейчас рабочее время?": {
      "main": [
        [
          {
            "node": "Получение списка заявок из vsDesk",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ничего не делать",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получение списка заявок из vsDesk": {
      "main": [
        [
          {
            "node": "diff и сохранение текущего списка заявок",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "diff и сохранение текущего списка заявок": {
      "main": [
        [
          {
            "node": "Распределение заявок по типам",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Распределение заявок по типам": {
      "main": [
        [
          {
            "node": "Заявка из PRTG?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Уведомить о просроченной реакции по заявке",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Уведомить о просроченной заявке",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Уведомить об открытой заново заявке",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Заявка из PRTG?": {
      "main": [
        [
          {
            "node": "Уведомить о новой заявке из PRTG",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Уведомить о новой заявке",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "4"
  },
  "staticData": {
    "node:diff и сохранение текущего списка заявок": {
      "lastExecution": [
        {
          "id": "256836",
          "user": "Неустроев Дмитрий Николаевич",
          "creator": "Неустроев Дмитрий Николаевич",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 13:55:57",
          "name": "Просмотр видео архива",
          "status": "Принята в исполнение",
          "executor": "Лиханов Олег Олегович",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256836"
        },
        {
          "id": "256821",
          "user": "Цишкевич Татьяна Викторовна",
          "creator": "Цишкевич Татьяна Викторовна",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 12:45:27",
          "name": "Чистка кондиционера и его подключение (нет удлинителя на его подключение в процессе эксплуатации)",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 5,
          "link": "https://help.knp24.ru/request/256821"
        },
        {
          "id": "256754",
          "user": "PRTG alert",
          "creator": "PRTG alert",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 09:35:04",
          "name": "[Main PRTG] Cisco System Health Вентиляторы (Работоспособность системы устройства SNMP Cis=?utf-8",
          "status": "Принята в исполнение",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256754"
        },
        {
          "id": "256645",
          "user": "АЗС № 41",
          "creator": "АЗС № 41",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 06:52:33",
          "name": "видеонаблюдение. дисконтные карты",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256645"
        },
        {
          "id": "256644",
          "user": "АЗС № 50",
          "creator": "АЗС № 50",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 06:52:21",
          "name": "бонусные карты",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256644"
        },
        {
          "id": "256642",
          "user": "АЗС № 7",
          "creator": "АЗС № 7",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 06:46:38",
          "name": "Не читаются бонусные карты.",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256642"
        },
        {
          "id": "256638",
          "user": "АЗС № 13",
          "creator": "АЗС № 13",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 06:41:45",
          "name": "Ошибка обслуживания дисконтной карты. Нет подключения к online.",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256638"
        },
        {
          "id": "256633",
          "user": "АЗС № 130",
          "creator": "АЗС № 130",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 06:39:31",
          "name": "почта",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256633"
        },
        {
          "id": "256632",
          "user": "АЗС № 39",
          "creator": "АЗС № 39",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 06:39:13",
          "name": "Не работают бонусные карты.",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256632"
        },
        {
          "id": "256631",
          "user": "АЗС № 92",
          "creator": "АЗС № 92",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 06:38:55",
          "name": "Отсутствует интернет",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256631"
        },
        {
          "id": "256630",
          "user": "АЗС № 103",
          "creator": "АЗС № 103",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 06:36:42",
          "name": "Аппарат Мифаре не работает",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256630"
        },
        {
          "id": "256629",
          "user": "АЗС № 24",
          "creator": "АЗС № 24",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 06:35:27",
          "name": "Бонусные карты",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256629"
        },
        {
          "id": "256627",
          "user": "АЗС № 11",
          "creator": "АЗС № 11",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 06:35:00",
          "name": "Не работает почта и контур поставки",
          "status": "Просрочено исполнение",
          "executor": "Сударев Владислав Николаевич",
          "priority": 5,
          "link": "https://help.knp24.ru/request/256627"
        },
        {
          "id": "256626",
          "user": "АЗС № 215",
          "creator": "АЗС № 215",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 06:33:51",
          "name": "АЗС 215",
          "status": "Просрочено исполнение",
          "executor": "Сударев Владислав Николаевич",
          "priority": 5,
          "link": "https://help.knp24.ru/request/256626"
        },
        {
          "id": "256625",
          "user": "АЗС № 248",
          "creator": "АЗС № 248",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 06:31:43",
          "name": "Заправка по бонусным картам не возможна, нет связи.",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256625"
        },
        {
          "id": "256624",
          "user": "АЗС № 33",
          "creator": "АЗС № 33",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 06:31:14",
          "name": "Нет интернета",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256624"
        },
        {
          "id": "256620",
          "user": "АЗС № 2",
          "creator": "АЗС № 2",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 06:30:01",
          "name": "Бонусные карты",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256620"
        },
        {
          "id": "256619",
          "user": "АЗС № 67",
          "creator": "АЗС № 67",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 06:29:00",
          "name": "Отсутствует онлайн подключение",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256619"
        },
        {
          "id": "256617",
          "user": "АЗС № 105",
          "creator": "АЗС № 105",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 06:24:54",
          "name": "МИФАРЕ",
          "status": "Просрочено исполнение",
          "executor": "Сударев Владислав Николаевич",
          "priority": 5,
          "link": "https://help.knp24.ru/request/256617"
        },
        {
          "id": "256616",
          "user": "АЗС № 52",
          "creator": "АЗС № 52",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 06:23:23",
          "name": "Не работает считыватель бонусных карт.",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 5,
          "link": "https://help.knp24.ru/request/256616"
        },
        {
          "id": "256613",
          "user": "АЗС № 223",
          "creator": "АЗС № 223",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 06:17:20",
          "name": "АЗС№223",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256613"
        },
        {
          "id": "256609",
          "user": "АЗС № 241",
          "creator": "АЗС № 241",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 06:04:38",
          "name": "Не работает считыватель карт ",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256609"
        },
        {
          "id": "256608",
          "user": "АЗС № 11",
          "creator": "АЗС № 11",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 06:01:30",
          "name": "Не работает почта и контур поставки",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 5,
          "link": "https://help.knp24.ru/request/256608"
        },
        {
          "id": "256607",
          "user": "АЗС № 12",
          "creator": "АЗС № 12",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 06:00:39",
          "name": "Не считываются дисконтные карты.",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256607"
        },
        {
          "id": "256606",
          "user": "АЗС № 16",
          "creator": "АЗС № 16",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 06:00:14",
          "name": "не работает считыватель бонусных карт",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256606"
        },
        {
          "id": "256603",
          "user": "АЗС № 28",
          "creator": "АЗС № 28",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 05:59:12",
          "name": "Электронная почта.",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 5,
          "link": "https://help.knp24.ru/request/256603"
        },
        {
          "id": "256599",
          "user": "АЗС № 83",
          "creator": "АЗС № 83",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 05:49:31",
          "name": "не работает считыватель дисконтных карт",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256599"
        },
        {
          "id": "256598",
          "user": "АЗС № 96",
          "creator": "АЗС № 96",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 05:49:01",
          "name": "Не проходят Д/К",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 5,
          "link": "https://help.knp24.ru/request/256598"
        },
        {
          "id": "256597",
          "user": "АЗС № 229",
          "creator": "АЗС № 229",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 05:47:36",
          "name": "Интернет",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256597"
        },
        {
          "id": "256591",
          "user": "АЗС № 116",
          "creator": "АЗС № 116",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 05:27:58",
          "name": "Не работает почта",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256591"
        },
        {
          "id": "256590",
          "user": "АЗС № 113",
          "creator": "АЗС № 113",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 05:24:16",
          "name": "интернет",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256590"
        },
        {
          "id": "256589",
          "user": "АЗС № 103",
          "creator": "АЗС № 103",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 05:15:11",
          "name": "Не работает почта. Всплыло окно безопасность windows ",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256589"
        },
        {
          "id": "256586",
          "user": "АЗС № 108",
          "creator": "АЗС № 108",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 05:11:10",
          "name": "!  Не открывается приложение сбер-инкасация",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256586"
        },
        {
          "id": "256584",
          "user": "АЗС № 241",
          "creator": "АЗС № 241",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 05:06:42",
          "name": "Не работает почта",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256584"
        },
        {
          "id": "256577",
          "user": "АЗС № 6",
          "creator": "АЗС № 6",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 04:40:38",
          "name": "НЕ РАБОТАЕТ ЭЛ. ПОЧТА",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 5,
          "link": "https://help.knp24.ru/request/256577"
        },
        {
          "id": "256573",
          "user": "АЗС № 122",
          "creator": "АЗС № 122",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 04:29:54",
          "name": "ДИСКОНТНЫЕ КАРТЫ ",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 5,
          "link": "https://help.knp24.ru/request/256573"
        },
        {
          "id": "256569",
          "user": "АЗС № 47",
          "creator": "АЗС № 47",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 04:09:14",
          "name": "Не читаются бонусные карты. ",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 5,
          "link": "https://help.knp24.ru/request/256569"
        },
        {
          "id": "256567",
          "user": "АЗС № 10",
          "creator": "АЗС № 10",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 04:02:10",
          "name": "Бонусные карты",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256567"
        },
        {
          "id": "256563",
          "user": "АЗС № 111",
          "creator": "АЗС № 111",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 03:57:39",
          "name": "Дисконтная карта",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 5,
          "link": "https://help.knp24.ru/request/256563"
        },
        {
          "id": "256562",
          "user": "АЗС № 57",
          "creator": "АЗС № 57",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 03:57:25",
          "name": "Не читаются дисконтные карты",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256562"
        },
        {
          "id": "256561",
          "user": "АЗС № 256",
          "creator": "АЗС № 256",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 03:40:08",
          "name": "Не работает ридер",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 5,
          "link": "https://help.knp24.ru/request/256561"
        },
        {
          "id": "256560",
          "user": "АЗС № 109",
          "creator": "АЗС № 109",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 03:36:54",
          "name": "Настроить параметры сервера",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256560"
        },
        {
          "id": "256557",
          "user": "АЗС № 72",
          "creator": "АЗС № 72",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 03:26:17",
          "name": "Не работают дисконтные карты",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256557"
        },
        {
          "id": "256556",
          "user": "АЗС № 131",
          "creator": "АЗС № 131",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 03:25:18",
          "name": "Не работает почта .",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256556"
        },
        {
          "id": "256553",
          "user": "АЗС № 115",
          "creator": "АЗС № 115",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 03:10:30",
          "name": "Ридер 2",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 5,
          "link": "https://help.knp24.ru/request/256553"
        },
        {
          "id": "256552",
          "user": "АЗС № 30",
          "creator": "АЗС № 30",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 03:02:07",
          "name": "Ридер",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256552"
        },
        {
          "id": "256548",
          "user": "АЗС № 160",
          "creator": "АЗС № 160",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 02:45:16",
          "name": "Не работает почта, и считыватель бонусных карт",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256548"
        },
        {
          "id": "256545",
          "user": "АЗС № 86",
          "creator": "АЗС № 86",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 02:34:24",
          "name": " не читаются дисконтные  карты",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256545"
        },
        {
          "id": "256544",
          "user": "АЗС № 66",
          "creator": "АЗС № 66",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 02:31:04",
          "name": "АЗС 66",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256544"
        },
        {
          "id": "256537",
          "user": "АЗС № 69",
          "creator": "АЗС № 69",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 01:29:55",
          "name": "не работает почта",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256537"
        },
        {
          "id": "256493",
          "user": "АЗС № 220",
          "creator": "АЗС № 220",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 01:15:51",
          "name": "не читает дисконтную карту",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256493"
        },
        {
          "id": "256443",
          "user": "АЗС № 228",
          "creator": "АЗС № 228",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 01:07:18",
          "name": "Не работает ридер",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256443"
        },
        {
          "id": "256417",
          "user": "АЗС № 40",
          "creator": "АЗС № 40",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 01:01:02",
          "name": "не считываются дисконтные карты",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 5,
          "link": "https://help.knp24.ru/request/256417"
        },
        {
          "id": "256357",
          "user": "АЗС № 60",
          "creator": "АЗС № 60",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 00:52:38",
          "name": "Ридер",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 5,
          "link": "https://help.knp24.ru/request/256357"
        },
        {
          "id": "256355",
          "user": "АЗС № 115",
          "creator": "АЗС № 115",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 00:46:38",
          "name": "Ридер",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 5,
          "link": "https://help.knp24.ru/request/256355"
        },
        {
          "id": "256354",
          "user": "АЗС № 24",
          "creator": "АЗС № 24",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 00:45:19",
          "name": "Почта",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256354"
        },
        {
          "id": "256344",
          "user": "АЗС № 4",
          "creator": "АЗС № 4",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 00:41:34",
          "name": "АЗС №4",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256344"
        },
        {
          "id": "256342",
          "user": "АЗС № 82",
          "creator": "АЗС № 82",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 00:39:53",
          "name": "Не работает электронная почта",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256342"
        },
        {
          "id": "256341",
          "user": "АЗС № 145",
          "creator": "АЗС № 145",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 00:39:48",
          "name": "Ридер Мифаре ",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256341"
        },
        {
          "id": "256326",
          "user": "АЗС № 126",
          "creator": "АЗС № 126",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 00:35:02",
          "name": "Ошибка онлайн,диск карты",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256326"
        },
        {
          "id": "256325",
          "user": "АЗС № 107",
          "creator": "АЗС № 107",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 00:31:43",
          "name": "Ридер",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256325"
        },
        {
          "id": "256324",
          "user": "АЗС № 85",
          "creator": "АЗС № 85",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 00:30:55",
          "name": "АЗС 85",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256324"
        },
        {
          "id": "256322",
          "user": "АЗС № 21",
          "creator": "АЗС № 21",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 00:29:25",
          "name": "Эл.почта.",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256322"
        },
        {
          "id": "256320",
          "user": "АЗС № 116",
          "creator": "АЗС № 116",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 00:28:27",
          "name": "Не работает почта",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256320"
        },
        {
          "id": "256314",
          "user": "АЗС № 1",
          "creator": "АЗС № 1",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 00:24:35",
          "name": "АЗС № 1",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256314"
        },
        {
          "id": "256313",
          "user": "АЗС № 217",
          "creator": "АЗС № 217",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 00:21:22",
          "name": "Бонусные карты",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256313"
        },
        {
          "id": "256312",
          "user": "АЗС № 18",
          "creator": "АЗС № 18",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 00:20:04",
          "name": "дисконтные карты",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256312"
        },
        {
          "id": "256306",
          "user": "АЗС № 217",
          "creator": "АЗС № 217",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-06 00:10:53",
          "name": "Сбербанк Инкассация",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256306"
        },
        {
          "id": "256290",
          "user": "АЗС № 126",
          "creator": "АЗС № 126",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-05 21:29:54",
          "name": "Ошибка Онлайн",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/256290"
        },
        {
          "id": "256164",
          "user": "Туров Вячеслав Александрович",
          "creator": "Туров Вячеслав Александрович",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-05 12:54:43",
          "name": "не могу закрыть заявку https://help.knp24.ru/request/update/256092",
          "status": "Выполнена",
          "executor": null,
          "priority": 3,
          "link": "https://help.knp24.ru/request/256164"
        },
        {
          "id": "255709",
          "user": "Сазонов Евгений Александрович",
          "creator": "Сазонов Евгений Александрович",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-02 11:19:48",
          "name": "настройка видеонаблюдения ННБ",
          "status": "Принята в исполнение",
          "executor": "Лиханов Олег Олегович",
          "priority": 3,
          "link": "https://help.knp24.ru/request/255709"
        },
        {
          "id": "255686",
          "user": "Доронькин Евгений Валентинович",
          "creator": "Доронькин Евгений Валентинович",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-02 09:42:52",
          "name": "Видеонаблюдение на нефтебазе",
          "status": "Выполнена",
          "executor": "Сударев Владислав Николаевич",
          "priority": 5,
          "link": "https://help.knp24.ru/request/255686"
        },
        {
          "id": "255319",
          "user": "Бурба Елена Станиславовна",
          "creator": "Бурба Елена Станиславовна",
          "group": "Группа системного администрирования",
          "timestamp": "2023-06-01 08:46:50",
          "name": "Заявка на картриджи",
          "status": "Принята в исполнение",
          "executor": "Лиханов Олег Олегович",
          "priority": 3,
          "link": "https://help.knp24.ru/request/255319"
        },
        {
          "id": "254843",
          "user": "Маркушева Наталья Михайловна",
          "creator": "Маркушева Наталья Михайловна",
          "group": "Группа системного администрирования",
          "timestamp": "2023-05-29 16:53:38",
          "name": "не работает сканер",
          "status": "Требует уточнения",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/254843"
        },
        {
          "id": "252795",
          "user": "Громова Валентина Юрьевна",
          "creator": "Громова Валентина Юрьевна",
          "group": "Группа системного администрирования",
          "timestamp": "2023-05-16 12:31:26",
          "name": "установить Adobe InDesign",
          "status": "Требует уточнения",
          "executor": "Бернаучис Андрей Робертович",
          "priority": 3,
          "link": "https://help.knp24.ru/request/252795"
        },
        {
          "id": "252311",
          "user": "АЗС № 203",
          "creator": "Белошапкин Павел Александрович",
          "group": "Группа системного администрирования",
          "timestamp": "2023-05-12 19:32:41",
          "name": "Сетевой Экран KES - azs203server",
          "status": "Требует уточнения",
          "executor": "Томилов Артем Александрович",
          "priority": 3,
          "link": "https://help.knp24.ru/request/252311"
        },
        {
          "id": "252044",
          "user": "Старикова Анна Борисовна",
          "creator": "Старикова Анна Борисовна",
          "group": "Группа системного администрирования",
          "timestamp": "2023-05-11 11:41:32",
          "name": "оснащение здания АБК wi-fi роутером, предоставление доступа к Интернету для мобильного устр-ва",
          "status": "Требует уточнения",
          "executor": null,
          "priority": 3,
          "link": "https://help.knp24.ru/request/252044"
        },
        {
          "id": "251896",
          "user": "Михайлов Степан Сергеевич",
          "creator": "Михайлов Степан Сергеевич",
          "group": "Группа системного администрирования",
          "timestamp": "2023-05-10 17:41:45",
          "name": "Прошу выдать для МФУ картриджи",
          "status": "Требует уточнения",
          "executor": null,
          "priority": 3,
          "link": "https://help.knp24.ru/request/251896"
        },
        {
          "id": "251477",
          "user": "АЗС № 216",
          "creator": "АЗС № 216",
          "group": "Группа системного администрирования",
          "timestamp": "2023-05-06 23:50:26",
          "name": "заявка антивирус",
          "status": "Требует уточнения",
          "executor": "Томилов Артем Александрович",
          "priority": 3,
          "link": "https://help.knp24.ru/request/251477"
        }
      ]
    }
  },
  "pinData": {},
  "versionId": "82162ab4-6236-4dd9-96ed-cfda6dd1ce19",
  "triggerCount": 1,
  "tags": []
}