workflows/Уведомление о заявках из vsDesk.json
{
  "createdAt": "2022-09-13T03:22:39.759Z",
  "updatedAt": "2023-04-10T04:59:16.000Z",
  "id": "1",
  "name": "Уведомление о заявках из vsDesk",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "unit": "minutes"
      },
      "id": "b3ed13ca-dec8-4dc3-ab6a-fc1963af446f",
      "name": "Интервал (выполняется каждую минуту)",
      "type": "n8n-nodes-base.interval",
      "typeVersion": 1,
      "position": [
        280,
        180
      ]
    },
    {
      "parameters": {},
      "id": "cf96d762-b142-41f0-9bbf-87ad32c7d5a6",
      "name": "Начало (он же ручной запуск)",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        280,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "dateTime": [
            {
              "value1": "={{DateTime.now()}}",
              "value2": "={{DateTime.now().set({ hour: 8, minute: 0, second: 0, millisecond: 0 })}}"
            },
            {
              "value1": "={{DateTime.now()}}",
              "operation": "before",
              "value2": "={{DateTime.now().set({ hour: 18, minute: 0, second: 0, millisecond: 0 })}}"
            }
          ],
          "number": [
            {
              "value1": "={{DateTime.now().weekday}}",
              "value2": 6
            }
          ]
        }
      },
      "id": "5574ec91-3c0f-454a-93a8-55f8fe3dbeca",
      "name": "Сейчас рабочее время?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {},
      "id": "be04cf8b-bda2-432e-b2b6-40b736121f78",
      "name": "Ничего не делать",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        860,
        440
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "url": "=https://help.knp24.ru/api/requests",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "timestamp",
              "value": "=>{{DateTime.now().minus({ months: 1 }).toFormat('yyyy-MM-dd') }}"
            },
            {
              "name": "gfullname",
              "value": "Группа системного администрирования"
            }
          ]
        }
      },
      "id": "71501525-c67a-40be-8455-f92b11a608dd",
      "name": "Получение списка заявок из vsDesk",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        860,
        200
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "1",
          "name": "КНП"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Code here will run only once, no matter how many input items there are.\n// More info and help: https://docs.n8n.io/nodes/n8n-nodes-base.function\n// Tip: You can use luxon for dates and $jmespath for querying JSON structures\n\nconst current = [];\nfor(let i = 0; i < items[0].json.length; i++) {\n  if(items[0].json[i].Status === \"Завершена\" || items[0].json[i].Status === \"Отменена\") {\n    continue;\n  }\n  current.push({\n    id: items[0].json[i].id,\n    user: items[0].json[i].fullname,\n    creator: items[0].json[i].creator,\n    group: items[0].json[i].gfullname,\n    timestamp: items[0].json[i].timestamp,\n    name: items[0].json[i].Name.replaceAll(/[\"'«»]/g, ''),\n    status: items[0].json[i].Status,\n    executor: items[0].json[i].mfullname,\n    priority: items[0].json[i].Priority === \"Высокий\" ? 5 : 3,\n    link: `https://help.knp24.ru/request/${items[0].json[i].id}`\n  })\n}\n\nlet updates = [];\nconst staticData = getWorkflowStaticData('node');\n\nif(!staticData.lastExecution || ! (staticData.lastExecution instanceof Array)) {\n  updates = JSON.parse(JSON.stringify(current));\n  updates.forEach(request => {\n    request.type = \"new\";\n  });\n }\nelse {\n  current.forEach(request => {\n    const index = staticData.lastExecution.findIndex(element => request.id === element.id);\n    if (request.status === \"Открыта повторно\") {\n      if (index !== -1 && request.status === staticData.lastExecution[index].status) {\n        return;\n      }\n      updates.push(JSON.parse(JSON.stringify(request)))\n      updates[updates.length - 1].type = \"reopened\";\n      return;\n    }\n    if (index === -1) {\n      updates.push(JSON.parse(JSON.stringify(request)))\n      updates[updates.length - 1].type = \"new\";\n      return;\n    }\n    if (index !== -1 && request.status === \"Просрочена реакция\") {\n      if (request.status === staticData.lastExecution[index].status) {\n        return;\n      }\n      updates.push(JSON.parse(JSON.stringify(request)))\n      updates[updates.length - 1].type = \"reactionTimeout\";\n      return;\n    }\n    if (index !== -1 && request.status === \"Просрочено исполнение\") {\n      if (request.status === staticData.lastExecution[index].status) {\n        return;\n      }\n      updates.push(JSON.parse(JSON.stringify(request)))\n      updates[updates.length - 1].type = \"executionTimeout\";\n      return;\n    }\n  });\n}\nstaticData.lastExecution = JSON.parse(JSON.stringify(current));\nreturn updates;"
      },
      "id": "b8ed8c0b-42d7-429e-8f2c-32acb3a76ffc",
      "name": "diff и сохранение текущего списка заявок",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1100,
        200
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "requestMethod": "POST",
        "url": "https://ntfy.shitnsticks.top/",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "raw"
        },
        "bodyParametersJson": "={\n  \"topic\": \"vsdesk\",\n  \"title\": \"Новая заявка\",\n  \"priority\": {{$json[\"priority\"]}},\n  \"message\": \"Название: {{$json[\"name\"]}}\\nID: {{$json[\"id\"]}}\\nСоздатель: {{$json[\"creator\"]}}\",\n \"click\": \"{{$json[\"link\"]}}\" \n}"
      },
      "id": "24e6ca15-2eee-4044-9624-34690334f58c",
      "name": "Уведомить о новой заявке",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1800,
        20
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "Ntfy admin"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$node[\"diff и сохранение текущего списка заявок\"].json[\"type\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "new"
            },
            {
              "value2": "reactionTimeout",
              "output": 1
            },
            {
              "value2": "executionTimeout",
              "output": 2
            },
            {
              "value2": "reopened",
              "output": 3
            }
          ]
        }
      },
      "id": "8a6a8bac-9068-4e7b-ad80-3ccee497437e",
      "name": "Распределение заявок по типам",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1300,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"name\"]}}",
              "operation": "startsWith",
              "value2": "[Main PRTG]"
            },
            {
              "value1": "={{$json[\"name\"]}}",
              "operation": "startsWith",
              "value2": "[PRTG Ticket]"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "53594708-e812-4051-8892-08787d9b7ecf",
      "name": "Заявка из PRTG?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1480,
        -60
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "requestMethod": "POST",
        "url": "https://ntfy.shitnsticks.top/",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "raw"
        },
        "bodyParametersJson": "={\n\"topic\": \"vsdesk\",\n\"title\": \"Новая заявка из PRTG\",\n\"priority\": 2,\n\"message\": \"Название: {{$json[\"name\"]}}\\nID: {{$json[\"id\"]}}\",\n\"click\": \"{{$json[\"link\"]}}\" \n}"
      },
      "id": "4f84d508-6234-449a-9ae0-bad807df253a",
      "name": "Уведомить о новой заявке из PRTG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1800,
        -200
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "Ntfy admin"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "requestMethod": "POST",
        "url": "https://ntfy.shitnsticks.top/",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "raw"
        },
        "bodyParametersJson": "={\n\"topic\": \"vsdesk\",\n\"title\": \"Просрочилась реакция по заявке {{$json[\"id\"]}}\",\n\"priority\": 4,\n\"message\": \"Название: {{$json[\"name\"]}}\\nСоздатель: {{$json[\"creator\"]}}\",\n\"click\": \"{{$json[\"link\"]}}\"\n}"
      },
      "id": "49af3f71-0e07-42a9-9373-c150ec166f30",
      "name": "Уведомить о просроченной реакции по заявке",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1800,
        240
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "Ntfy admin"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "requestMethod": "POST",
        "url": "https://ntfy.shitnsticks.top/",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "raw"
        },
        "bodyParametersJson": "={\n\"topic\": \"vsdesk\",\n\"title\": \"Просрочилась заявка {{$json[\"id\"]}}\",\n\"priority\": 5,\n\"message\": \"Название: {{$json[\"name\"]}}\\nСоздатель: {{$json[\"creator\"]}}\",\n\"click\": \"{{$json[\"link\"]}}\"\n}"
      },
      "id": "d07fb0f8-fcb5-499f-9e87-e25bb75ec14a",
      "name": "Уведомить о просроченной заявке",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1800,
        460
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "Ntfy admin"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "requestMethod": "POST",
        "url": "https://ntfy.shitnsticks.top/",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "raw"
        },
        "bodyParametersJson": "={\n\"topic\": \"vsdesk\",\n\"title\": \"Заявку {{$json[\"id\"]}} вернули в работу\",\n\"priority\": 5,\n\"message\": \"Название: {{$json[\"name\"]}}\\nСоздатель: {{$json[\"creator\"]}}\",\n\"click\": \"{{$json[\"link\"]}}\"\n}"
      },
      "id": "cf1bd755-3ae1-401c-a3c7-da271c2ec9b6",
      "name": "Уведомить об открытой заново заявке",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1800,
        680
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "Ntfy admin"
        }
      }
    }
  ],
  "connections": {
    "Начало (он же ручной запуск)": {
      "main": [
        [
          {
            "node": "Сейчас рабочее время?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Интервал (выполняется каждую минуту)": {
      "main": [
        [
          {
            "node": "Сейчас рабочее время?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сейчас рабочее время?": {
      "main": [
        [
          {
            "node": "Получение списка заявок из vsDesk",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ничего не делать",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получение списка заявок из vsDesk": {
      "main": [
        [
          {
            "node": "diff и сохранение текущего списка заявок",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "diff и сохранение текущего списка заявок": {
      "main": [
        [
          {
            "node": "Распределение заявок по типам",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Распределение заявок по типам": {
      "main": [
        [
          {
            "node": "Заявка из PRTG?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Уведомить о просроченной реакции по заявке",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Уведомить о просроченной заявке",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Уведомить об открытой заново заявке",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Заявка из PRTG?": {
      "main": [
        [
          {
            "node": "Уведомить о новой заявке из PRTG",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Уведомить о новой заявке",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "4",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true
  },
  "staticData": {
    "node:diff и сохранение текущего списка заявок": {
      "lastExecution": [
        {
          "id": "247274",
          "user": "Невзорова Дарья Александровна",
          "creator": "Невзорова Дарья Александровна",
          "group": "Группа системного администрирования",
          "timestamp": "2023-04-10 11:48:20",
          "name": "рассылка маерчака",
          "status": "Открыта",
          "executor": null,
          "priority": 3,
          "link": "https://help.knp24.ru/request/247274"
        },
        {
          "id": "247271",
          "user": "Сизиков Леонид Юрьевич",
          "creator": "Сизиков Леонид Юрьевич",
          "group": "Группа системного администрирования",
          "timestamp": "2023-04-10 11:43:56",
          "name": "Доступ к просмотру сменных отчетов",
          "status": "Открыта",
          "executor": null,
          "priority": 5,
          "link": "https://help.knp24.ru/request/247271"
        },
        {
          "id": "247270",
          "user": "PRTG alert",
          "creator": "PRTG alert",
          "group": "Группа системного администрирования",
          "timestamp": "2023-04-10 11:40:02",
          "name": "[Main PRTG] Cam5 - Резервуары Пинг (Пинг) Ошибка  (Request timed out (ошибка ICMP № 11010))",
          "status": "Открыта",
          "executor": null,
          "priority": 3,
          "link": "https://help.knp24.ru/request/247270"
        },
        {
          "id": "247268",
          "user": "Ошов Владимир Сергеевич",
          "creator": "Ошов Владимир Сергеевич",
          "group": "Группа системного администрирования",
          "timestamp": "2023-04-10 11:29:34",
          "name": "Не получается добавить яркость на экране ноутбука. Очень тусклый экран.",
          "status": "Открыта",
          "executor": null,
          "priority": 3,
          "link": "https://help.knp24.ru/request/247268"
        },
        {
          "id": "247267",
          "user": "Кротова Наталья Геннадьевна",
          "creator": "Кротова Наталья Геннадьевна",
          "group": "Группа системного администрирования",
          "timestamp": "2023-04-10 11:26:57",
          "name": "Открыть доступ к планам-отчетам",
          "status": "Открыта",
          "executor": null,
          "priority": 5,
          "link": "https://help.knp24.ru/request/247267"
        },
        {
          "id": "247252",
          "user": "Сержантов Василий Петрович",
          "creator": "Сержантов Василий Петрович",
          "group": "Группа системного администрирования",
          "timestamp": "2023-04-10 10:29:35",
          "name": "АО Красноярскнефтепродукт (филиал Восточный)",
          "status": "Принята в исполнение",
          "executor": "Бернаучис Андрей Робертович",
          "priority": 3,
          "link": "https://help.knp24.ru/request/247252"
        },
        {
          "id": "246489",
          "user": "PRTG alert",
          "creator": "PRTG alert",
          "group": "Группа системного администрирования",
          "timestamp": "2023-04-05 14:50:02",
          "name": "[Main PRTG] Main NS Postfix Время жизни сертификата SSL (Сертификат SSL) Ошибка  =?utf-8?B?KDQgICjQl",
          "status": "Принята в исполнение",
          "executor": "Лиханов Олег Олегович",
          "priority": 3,
          "link": "https://help.knp24.ru/request/246489"
        },
        {
          "id": "246422",
          "user": "PRTG alert",
          "creator": "PRTG alert",
          "group": "Группа системного администрирования",
          "timestamp": "2023-04-05 10:00:02",
          "name": "[Main PRTG] НБАчинск4АСН Пинг (Пинг) Ошибка  (Request timed out (ошибка ICMP № 11010))",
          "status": "Просрочено исполнение",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/246422"
        },
        {
          "id": "246406",
          "user": "Будков Александр Вениаминович",
          "creator": "Будков Александр Вениаминович",
          "group": "Группа системного администрирования",
          "timestamp": "2023-04-05 08:46:06",
          "name": "Заменить провод между трубкой и телефонным аппаратом ",
          "status": "Принята в исполнение",
          "executor": "Лиханов Олег Олегович",
          "priority": 3,
          "link": "https://help.knp24.ru/request/246406"
        },
        {
          "id": "246245",
          "user": "Коханова Татьяна Валентиновна",
          "creator": "Коханова Татьяна Валентиновна",
          "group": "Группа системного администрирования",
          "timestamp": "2023-04-04 10:20:39",
          "name": "новый сотрудник",
          "status": "Принята в исполнение",
          "executor": "Лиханов Олег Олегович",
          "priority": 5,
          "link": "https://help.knp24.ru/request/246245"
        },
        {
          "id": "246121",
          "user": "Кузина Ирина Геннадьевна",
          "creator": "Кузина Ирина Геннадьевна",
          "group": "Группа системного администрирования",
          "timestamp": "2023-04-03 14:49:55",
          "name": "срок выполнения заявки",
          "status": "Требует уточнения",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/246121"
        },
        {
          "id": "246064",
          "user": "Пермякова Наталья Александровна",
          "creator": "Пермякова Наталья Александровна",
          "group": "Группа системного администрирования",
          "timestamp": "2023-04-03 10:56:35",
          "name": "недоступен предварительный просмотр печати",
          "status": "Требует уточнения",
          "executor": "Сударев Владислав Николаевич",
          "priority": 3,
          "link": "https://help.knp24.ru/request/246064"
        },
        {
          "id": "245840",
          "user": "Коробицына Анастасия Николаевна",
          "creator": "Коробицына Анастасия Николаевна",
          "group": "Группа системного администрирования",
          "timestamp": "2023-04-01 11:24:19",
          "name": "отчет по заявкам сервисной службы за период (филиал Восточный)",
          "status": "Требует уточнения",
          "executor": null,
          "priority": 3,
          "link": "https://help.knp24.ru/request/245840"
        },
        {
          "id": "245488",
          "user": "Панова Вероника Евгеньевна",
          "creator": "Панова Вероника Евгеньевна",
          "group": "Группа системного администрирования",
          "timestamp": "2023-03-30 13:20:10",
          "name": "неполадки с принтером",
          "status": "Приостановлена",
          "executor": null,
          "priority": 3,
          "link": "https://help.knp24.ru/request/245488"
        },
        {
          "id": "245270",
          "user": "Верещагин Александр Александрович",
          "creator": "Верещагин Александр Александрович",
          "group": "Группа системного администрирования",
          "timestamp": "2023-03-29 10:52:57",
          "name": "Доступ к видеонаблюдению на всех НБ Общества + АЗС",
          "status": "Открыта",
          "executor": "Бернаучис Андрей Робертович",
          "priority": 3,
          "link": "https://help.knp24.ru/request/245270"
        }
      ]
    }
  },
  "pinData": {},
  "versionId": "4e8fd9d2-0fcc-4d5c-9244-61db68e570f9",
  "triggerCount": 1,
  "tags": []
}