workflows/Циклические напоминания в Notion.json
{
  "createdAt": "2022-09-16T07:48:14.142Z",
  "updatedAt": "2023-03-08T15:26:39.000Z",
  "id": "3",
  "name": "Циклические напоминания в Notion",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "1b12ef44-1cc4-4a3b-9cbc-60532bbeb405",
      "name": "Начало (он же ручной запуск)",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -500,
        -120
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "apiVersion",
              "value": "2022-06-28"
            },
            {
              "name": "strings.lastExec",
              "value": "Последнее выполнение"
            },
            {
              "name": "strings.frequency",
              "value": "Периодичность"
            },
            {
              "name": "dbs.templates",
              "value": "9bfcafdd2c044073924eb32bfa7671d9"
            },
            {
              "name": "dbs.tasklist",
              "value": "cf149754de194c6cbe23a1eb821c30ca"
            },
            {
              "name": "strings.plannedTime",
              "value": "Время"
            },
            {
              "name": "strings.taskName",
              "value": "Имя задачи"
            },
            {
              "name": "strings.effort",
              "value": "Усилие"
            },
            {
              "name": "strings.value",
              "value": "Значение"
            },
            {
              "name": "strings.project",
              "value": "Проект"
            },
            {
              "name": "strings.area",
              "value": "Область"
            },
            {
              "name": "dbs.projects",
              "value": "03a990b2fcba48219c0467d78ae7c2e5"
            },
            {
              "name": "api",
              "value": "https://api.notion.com/v1"
            },
            {
              "name": "strings.deadline",
              "value": "Дедлайн"
            },
            {
              "name": "strings.template",
              "value": "Шаблон"
            },
            {
              "name": "strings.status",
              "value": "Статус"
            },
            {
              "name": "strings.statuses.done",
              "value": "Сделано 🙌"
            },
            {
              "name": "strings.statuses.cancelled",
              "value": "Отменено"
            },
            {
              "name": "strings.statuses.notDone",
              "value": "Не сделано"
            },
            {
              "name": "strings.statuses.paused",
              "value": "Приостановлено"
            },
            {
              "name": "strings.priority.high",
              "value": "Высокое"
            },
            {
              "name": "strings.priority.medium",
              "value": "Среднее"
            },
            {
              "name": "strings.priority.low",
              "value": "Низкое"
            },
            {
              "name": "strings.postponable",
              "value": "Переносимое?"
            }
          ]
        },
        "options": {}
      },
      "id": "973f916d-c72a-40d9-9c5e-35af6a36c4b0",
      "name": "Глобальные значения",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -300,
        -180
      ]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "requestMethod": "POST",
        "url": "={{$node[\"Глобальные значения\"].json.api}}/databases/{{$node[\"Глобальные значения\"].json.dbs.tasklist}}/query",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "json"
        },
        "bodyParametersJson": "={\n \"filter\": {\n \"and\": [\n {\n \"property\": \"{{$node[\"Глобальные значения\"].json.strings.template}}\",\n \"relation\": {\n \"contains\": \"{{$json[\"id\"]}}\"\n }\n },\n {\n \"property\": \"Дата создания\",\n \"date\": {\n \"on_or_after\": \"{{$json.lastExecution}}\"\n }\n }\n ]\n }\n }",
        "headerParametersJson": "={\n\"Notion-Version\": \"{{$node[\"Глобальные значения\"].json.apiVersion}}\"\n}"
      },
      "id": "52263ba6-85dd-45e5-bf09-a5c1031211b6",
      "name": "Получение последней задачи по этому шаблону",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        280,
        -800
      ],
      "credentials": {
        "notionApi": {
          "id": "4",
          "name": "Notion"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"lastExecution\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "490fe2ca-86d7-4cb2-a293-d5af547a4966",
      "name": "Задача ранее выполнялась?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        60,
        -740
      ]
    },
    {
      "parameters": {
        "functionCode": "// Code here will run once per input item.\n// More info and help: https://docs.n8n.io/nodes/n8n-nodes-base.functionItem\n// Tip: You can use luxon for dates and $jmespath for querying JSON structures\n\n// Add a new field called 'myNewField' to the JSON of the item\nitem.lastExecution = $now.toISODate();\nreturn item;"
      },
      "id": "85a6d5f7-ed34-4ff2-80b2-fb59ed5f6f48",
      "name": "Подставляем сегодняшнюю дату как последнюю...",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [
        280,
        -580
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": "={{$json.id}}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Значение|select",
              "selectValue": "={{$json.task.value}}"
            },
            {
              "key": "Усилие|select",
              "selectValue": "={{$json.task.effort}}"
            },
            {
              "key": "Последнее выполнение|date",
              "includeTime": false,
              "date": "={{$json.lastExecution}}"
            }
          ]
        }
      },
      "id": "ecd92c9f-abd0-4589-bf71-83f1a3bb1025",
      "name": "Обновляем шаблон",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        520,
        -580
      ],
      "credentials": {
        "notionApi": {
          "id": "4",
          "name": "Notion"
        }
      }
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "requestMethod": "POST",
        "url": "={{$json.api}}/databases/{{$json.dbs.templates}}/query",
        "jsonParameters": true,
        "options": {},
        "headerParametersJson": "={\n \"Notion-Version\": \"{{$json.apiVersion}}\"\n}"
      },
      "id": "588aaeda-d1cd-4e82-8749-4aeb337e1aa5",
      "name": "Что там по шаблонам?",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -80,
        -180
      ],
      "credentials": {
        "notionApi": {
          "id": "4",
          "name": "Notion"
        }
      }
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        }
      },
      "id": "3a679352-70f8-479f-a6e3-a77e625ded32",
      "name": "Выполнять каждый час",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -500,
        -300
      ]
    },
    {
      "parameters": {
        "jsCode": "const parseFrequency = (tokens) => {\n  const numbers = new Map()\n  numbers.set('один', 1)\n  numbers.set('одну', 1)\n  numbers.set('два', 2)\n  numbers.set('две', 2)\n  numbers.set('второй', 2)\n  numbers.set('три', 3)\n  numbers.set('третий', 3)\n  numbers.set('четыре', 4)\n  numbers.set('четвёртый', 4)\n  numbers.set('пять', 5)\n  numbers.set('пятый', 5)\n  numbers.set('шесть', 6)\n  numbers.set('шестой', 6)\n  numbers.set('семь', 7)\n  numbers.set('седьмой', 7)\n  numbers.set('восемь', 8)\n  numbers.set('восьмой', 8)\n  numbers.set('девять', 9)\n  numbers.set('девятый', 9)\n  numbers.set('десять', 10)\n  numbers.set('десятый', 10)\n  numbers.set('одиннадцать', 11)\n  numbers.set('двенадцать', 12)\n  const units = new Map()\n  units.set('миллисекунд', 'milliseconds')\n  units.set('секунд', 'seconds')\n  units.set('минут', 'minutes')\n  units.set('час', 'hours')\n  units.set('день', 'days')\n  units.set('дня', 'days')\n  units.set('недел', 'weeks')\n  units.set('месяц', 'months')\n  units.set('квартал', 'quarters')\n  units.set('год', 'years')\n  units.set('лет', 'years')\n  let number = 1\n  let unit\n\n  for (let i = 0; i < tokens.length; i++) {\n    if (Number.isInteger(Number.parseInt(tokens[i]))) {\n      number = tokens[i]\n      continue\n    }\n    if (numbers.has(tokens[i])) {\n      number = numbers.get(tokens[i])\n      continue\n    }\n    for (let i2 = tokens[i].length; i2 > 0; i2--) {\n      if (units.has(tokens[i].slice(0, i2))) {\n        unit = units.get(tokens[i].slice(0, i2))\n        break\n      }\n    }\n  }\n  const ret = {}\n  ret[unit] = number\n  return ret\n}\n\nconst getFrequency = (humanReadable) => {\n  const tokens = humanReadable.split(' ').map((token) => token.toLowerCase())\n  if (tokens[0] === 'раз' && tokens[1] === 'в') {\n    return parseFrequency(tokens.slice(2))\n  }\n  if (tokens[0].slice(0, 4) === 'кажд') {\n    return parseFrequency(tokens.slice(1))\n  }\n}\n\nconst tasks = items[0].json.results.map((task) => {\n  const fieldNames = $node['Глобальные значения'].json.strings\n  let lastExec\n  if (task.properties[fieldNames.lastExec]) {\n    const str = task.properties[fieldNames.lastExec].date.start\n    lastExec = DateTime.fromFormat(str, 'yyyy-MM-dd', { zone: 'utc' })\n  }\n  const frequency = getFrequency(\n    task.properties[fieldNames.frequency].select.name\n  )\n  // const nextExecv09 = lastExec ? lastExec.plus(frequency) : DateTime.now()\n  // const nextExec = nextExecv09.set({\n  //   hour: task.properties[fieldNames.plannedTime].rich_text[0].plain_text.slice(\n  //     0,\n  //     2\n  //   ),\n  //   minute:\n  //     task.properties[fieldNames.plannedTime].rich_text[0].plain_text.slice(3),\n  //   second: 0,\n  //   millisecond: 0\n  // })\n  return {\n    id: task.id,\n    lastExecution: lastExec,\n    // nextExecution: nextExec,\n    task: {\n      frequency: frequency,\n      name: JSON.parse(JSON.stringify(task.properties[fieldNames.taskName])),\n      effort: task.properties[fieldNames.effort].select\n        ? JSON.parse(JSON.stringify(task.properties[fieldNames.effort]))\n        : undefined,\n      value: task.properties[fieldNames.value].select\n        ? JSON.parse(JSON.stringify(task.properties[fieldNames.value]))\n        : undefined,\n      area: task.properties[fieldNames.area].select\n        ? JSON.parse(JSON.stringify(task.properties[fieldNames.area]))\n        : undefined,\n      project: task.properties[fieldNames.project].relation[0]\n        ? JSON.parse(JSON.stringify(task.properties[fieldNames.project]))\n        : undefined,\n      postponable: JSON.parse(\n        JSON.stringify(task.properties[fieldNames.postponable])\n      ),\n    }\n  }\n})\nreturn tasks"
      },
      "id": "b33f7c02-40fd-4db0-bf93-8329085ad8bf",
      "name": "Обработка таблицы",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1180,
        -700
      ]
    },
    {
      "parameters": {
        "url": "=https://api.notion.com/v1/blocks/{{ $json[\"id\"].replaceAll('-', '') }}/children",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "=2022-06-28"
            }
          ]
        },
        "options": {}
      },
      "id": "5c6df6e1-5e1b-4937-ba7e-bef719d1f347",
      "name": "Получение содержимого страницы",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        800,
        -720
      ],
      "credentials": {
        "notionApi": {
          "id": "4",
          "name": "Notion"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const tasks = items[0].json.results.map((task) => {\n  const ret = task;\n  delete ret.created_time;\n  delete ret.last_edited_time;\n  delete ret.last_edited_by;\n  delete ret.created_by;\n  return ret;\n});\n\nconsole.log();\nreturn tasks"
      },
      "id": "f0ad2e1e-7364-4e05-b268-87674f629b19",
      "name": "Первоначальная обработка",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        140,
        -180
      ]
    },
    {
      "parameters": {
        "url": "=https://api.notion.com/v1/blocks/{{ $json[\"id\"].replaceAll('-', '') }}/children",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "options": {}
      },
      "id": "f525706b-24b7-4984-b246-7dad9e85a491",
      "name": "Подгрузка потомков",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -260,
        120
      ],
      "credentials": {
        "notionApi": {
          "id": "4",
          "name": "Notion"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "62c14b46-0ee4-4f01-a121-8e45c6412671",
      "name": "Объединение результатов",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        800,
        -240
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "id": "9e99b64d-fffd-409e-bbc1-5fd50b6bae30",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        980,
        -240
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "blocks",
        "options": {}
      },
      "id": "c58bf7cd-3f1e-4fee-a215-9dd264b68099",
      "name": "Разбиение на блоки",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2,
      "position": [
        500,
        120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.results.length }}",
              "operation": "equal"
            }
          ]
        }
      },
      "id": "cf7a5485-c868-41b0-bdae-d85e058379eb",
      "name": "Это пустой объект?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -20,
        120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.has_children }}",
              "value2": true
            }
          ]
        }
      },
      "id": "1a154d29-b613-4cc6-9835-254a1a14e8ce",
      "name": "У блока есть потомки?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        740,
        260
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const blocks = $input.item.json.results.map((block) => {\n  const ret = JSON.parse(JSON.stringify(block));\n    delete ret.created_time;\n    delete ret.last_edited_time;\n    delete ret.created_by;\n    delete ret.last_edited_by;\n  return ret;\n});\nreturn { json: { blocks } };"
      },
      "id": "f5a9068a-e779-4126-8169-5458de3765df",
      "name": "Зачистка полученного объекта",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        240,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "let finishedLoading = false;\nitems.forEach(block => {\n  if (block.json.has_children) {\n    finishedLoading = true;\n  };\n})\nfinishedLoading = ! finishedLoading;\nreturn { json: { finishedLoading: finishedLoading } };"
      },
      "id": "3a82122b-3c51-4f65-b6b3-d5ffc249bc94",
      "name": "Уплощение объектов",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        420,
        -60
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json[\"finishedLoading\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "320c4db7-2962-4b22-a2ab-f7d1c65faa0e",
      "name": "Больше нет неподгруженных блоков?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        580,
        -60
      ]
    },
    {
      "parameters": {
        "jsCode": "const mergedBlocks = [];\nfor(let i = 0; true; i++) {\n  try {\n    const items = $items(\"Разбиение на блоки\", 0, i).map(block => block.json);\n    mergedBlocks.push.apply(mergedBlocks, items);\n    console.log($items(\"Разбиение на блоки\", 0, i));\n  } catch (error) {\n    return [{json: {mergedBlocks}}];\n  }\n}"
      },
      "id": "d6991c5a-b5d8-4e0a-b55d-28b9367517f2",
      "name": "Объединяем подгруженные потомки",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        800,
        -60
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "mergedBlocks",
        "options": {}
      },
      "id": "13cf6dc7-c40d-4e39-8a85-5a5f826386a2",
      "name": "Ещё раз разбиваем объект на части",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2,
      "position": [
        980,
        -60
      ]
    },
    {
      "parameters": {
        "jsCode": "const processedBlocks = [];\nconst data = [];\nitems.forEach(block => {\n  if (block.json.parent.type === \"page_id\") {\n    processedBlocks.push(block.json.id)\n    data.push(JSON.parse(JSON.stringify(block.json)))\n  }\n});\n\nconsole.log(`Processed blocks IDs are ${processedBlocks}`);\nreturn data;"
      },
      "id": "4414a203-b7c6-4ed3-8724-79e5a3d774cd",
      "name": "Собираем все блоки воедино",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1200,
        -60
      ]
    }
  ],
  "connections": {
    "Начало (он же ручной запуск)": {
      "main": [
        [
          {
            "node": "Глобальные значения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Глобальные значения": {
      "main": [
        [
          {
            "node": "Что там по шаблонам?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Задача ранее выполнялась?": {
      "main": [
        [
          {
            "node": "Получение последней задачи по этому шаблону",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Подставляем сегодняшнюю дату как последнюю...",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подставляем сегодняшнюю дату как последнюю...": {
      "main": [
        [
          {
            "node": "Обновляем шаблон",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Что там по шаблонам?": {
      "main": [
        [
          {
            "node": "Первоначальная обработка",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Выполнять каждый час": {
      "main": [
        [
          {
            "node": "Глобальные значения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Первоначальная обработка": {
      "main": [
        [
          {
            "node": "Подгрузка потомков",
            "type": "main",
            "index": 0
          },
          {
            "node": "Объединение результатов",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подгрузка потомков": {
      "main": [
        [
          {
            "node": "Это пустой объект?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Объединение результатов": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Разбиение на блоки": {
      "main": [
        [
          {
            "node": "У блока есть потомки?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Уплощение объектов",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Это пустой объект?": {
      "main": [
        [],
        [
          {
            "node": "Зачистка полученного объекта",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "У блока есть потомки?": {
      "main": [
        [
          {
            "node": "Подгрузка потомков",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Зачистка полученного объекта": {
      "main": [
        [
          {
            "node": "Разбиение на блоки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Уплощение объектов": {
      "main": [
        [
          {
            "node": "Больше нет неподгруженных блоков?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Больше нет неподгруженных блоков?": {
      "main": [
        [
          {
            "node": "Объединяем подгруженные потомки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Объединяем подгруженные потомки": {
      "main": [
        [
          {
            "node": "Ещё раз разбиваем объект на части",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ещё раз разбиваем объект на части": {
      "main": [
        [
          {
            "node": "Собираем все блоки воедино",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Собираем все блоки воедино": {
      "main": [
        [
          {
            "node": "Объединение результатов",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "pinData": {},
  "versionId": "6988e976-148e-490a-901a-4bfba08b1704",
  "triggerCount": 0,
  "tags": []
}