workflows/Экспорт данных из vsdesk.json
{
  "createdAt": "2023-10-02T08:25:40.657Z",
  "updatedAt": "2023-10-23T09:50:23.000Z",
  "id": "GECzarsPZltmv7ZE",
  "name": "Экспорт данных из vsdesk",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "af5fb0c2-c4b9-4164-b412-d1702bb061c0",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        880,
        380
      ]
    },
    {
      "parameters": {
        "url": "https://help.knp24.ru/api/assets",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "asset_attrib_name",
              "value": "Системный блок"
            }
          ]
        },
        "options": {}
      },
      "id": "ecc7e398-2097-4ff1-9c35-c450fc626045",
      "name": "Запрашиваем список активов",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1100,
        380
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "1",
          "name": "КНП"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  json: {\n    data: JSON.parse($input.item.json.data)\n  }\n};"
      },
      "id": "003227b8-4f0d-43c0-bf12-41ef361936bf",
      "name": "Парсим данные",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        380
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "389236c3-9361-4d28-af7e-bccea7dd6778",
      "name": "Разбиваем",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        1540,
        380
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "24aa013f-4606-4fcd-86ac-bd94dcbe8712",
      "name": "По одному",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1780,
        380
      ]
    },
    {
      "parameters": {
        "amount": 0.3,
        "unit": "seconds"
      },
      "id": "789d82b4-650a-4933-ae04-1b373ae984df",
      "name": "Ждём",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2040,
        580
      ],
      "webhookId": "f9b0ffb7-1970-4571-8ce0-d1eacaa04b71"
    },
    {
      "parameters": {
        "url": "=https://help.knp24.ru/api/assets/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "id": "0bb24fae-9653-471a-9cec-239d05c451d3",
      "name": "Запрашиваем актив",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2320,
        580
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "1",
          "name": "КНП"
        }
      }
    },
    {
      "parameters": {
        "operation": "toFile",
        "fileFormat": "xlsx",
        "options": {}
      },
      "id": "a238d3b5-083f-4958-b4fb-8a5181434adf",
      "name": "Spreadsheet File",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        2460,
        380
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  json: JSON.parse($input.item.json.data)\n}"
      },
      "id": "bbaf3d68-d3be-4fc0-997c-58e6575c9544",
      "name": "Парсим",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2020,
        380
      ]
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "198424221",
        "binaryData": true,
        "additionalFields": {}
      },
      "id": "a39a742a-1db6-4aef-a207-aaa76b73dac2",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        2800,
        660
      ],
      "credentials": {
        "telegramApi": {
          "id": "6",
          "name": "Ассистент"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "delete $input.item.json.uid;\ndelete $input.item.json.slabel;\ndelete $input.item.json.asset_attrib_id;\ndelete $input.item.json.cusers_id;\ndelete $input.item.json.name;\ndelete $input.item.json.image;\n$input.item.json.items.forEach(item => {\n  $input.item.json[item.label] = item.value;\n});\ndelete $input.item.json.items;\n\nreturn $input.item;"
      },
      "id": "1e6efcb0-8295-43c7-8a3d-8a92ee26978f",
      "name": "Чистки",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2220,
        380
      ]
    }
  ],
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Запрашиваем список активов",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запрашиваем список активов": {
      "main": [
        [
          {
            "node": "Парсим данные",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Парсим данные": {
      "main": [
        [
          {
            "node": "Разбиваем",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Разбиваем": {
      "main": [
        [
          {
            "node": "По одному",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "По одному": {
      "main": [
        [
          {
            "node": "Ждём",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Парсим",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ждём": {
      "main": [
        [
          {
            "node": "Запрашиваем актив",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запрашиваем актив": {
      "main": [
        [
          {
            "node": "По одному",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Парсим": {
      "main": [
        [
          {
            "node": "Чистки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spreadsheet File": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        []
      ]
    },
    "Чистки": {
      "main": [
        [
          {
            "node": "Spreadsheet File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "fecbfae3-7c19-4e07-a4f6-de77eb8ffe3f",
  "triggerCount": 0,
  "tags": []
}